Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

Changing switch sintaxe to preserve compatibility with java 11 or minus (#4521)
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  package.json
Due: none

chore: bump doris-android to reset datazoom maven repo (#426)
  package.json
Due: none

feat: add expo plugin (#10)
  bun.lock
  packages/react-native-video/app.plugin.js
  packages/react-native-video/package.json
  packages/react-native-video/src/expo-plugins/@types.ts
  packages/react-native-video/src/expo-plugins/getPackageInfo.ts
  packages/react-native-video/src/expo-plugins/withAndroidExtensions.ts
  packages/react-native-video/src/expo-plugins/withAndroidPictureInPicture.ts
  packages/react-native-video/src/expo-plugins/withBackgroundAudio.ts
  packages/react-native-video/src/expo-plugins/withReactNativeVideo.ts
  packages/react-native-video/src/expo-plugins/writeToPodfile.ts
  packages/react-native-video/tsconfig.json
Due: lint, types

chore: bump version
  packages/react-native-video/package.json
Due: none

fix(ios): default cropStart fallback (#4540)
  src/Video.tsx
Due: lint

feat(web): allow `style` prop overrides (#4528)
  package.json
  src/Video.web.tsx
Due: lint

fix(ios): set `_isBuffering = true` only if newValue is also true (#4532)
  ios/Video/RCTVideo.swift
Due: none

chore: cleanup `package.json`
  package.json
Due: none

chore: cleanup `package.json` (#4544)
  package.json
Due: none

chore: release v6.14.0
  CHANGELOG.md
  package.json
Due: none

fix: add `react-native-nitro-modules` patch (#11)
  README.md
  bun.lock
  example/patches/react-native-nitro-modules+0.25.2.patch
  package.json
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/types/VideoError.ts
  packages/react-native-video/src/core/utils/sourceFactory.ts
Due: lint, types

[Update] Expose PDT to get actual date/time
  ios/Video/RCTVideo.swift
  ios/Video/RCTVideoManager.m
  src/types/events.ts
Due: lint, types

[Update] Remove the unnecessary change
  ios/Video/RCTVideo.swift
  src/specs/VideoNativeComponent.ts
  src/types/events.ts
Due: lint, types

interim fix on video.web onProgress
  src/Video.web.tsx
Due: lint

Eslint issue fix
  src/Video.web.tsx
Due: lint

feat: allow null in `replaceSourceAsync` (#12)
  example/ios/Podfile.lock
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/VideoPlayerEvents.ts
  packages/react-native-video/src/core/hooks/useEvent.ts
  packages/react-native-video/src/core/hooks/useVideoPlayer.ts
  packages/react-native-video/src/core/types/Utils.ts
  packages/react-native-video/src/core/types/VideoPlayerBase.ts
  packages/react-native-video/src/index.tsx
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
Due: lint, types

chore: bump package version
  packages/react-native-video/package.json
Due: none

chore: code cleanup
  packages/react-native-video/android/src/main/java/com/video/core/player/OnAudioFocusChangedListener.kt
  packages/react-native-video/android/src/main/java/com/video/core/recivers/AudioBecomingNoisyReceiver.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/package.json
  packages/react-native-video/src/core/hooks/useEvent.ts
Due: lint, types

feat: add `isPlaying` property
  bun.lock
  example/ios/Podfile.lock
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/package.json
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/types/VideoPlayerBase.ts
Due: lint, types

fix(android): preload is never called
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/package.json
Due: none

fix: player deallocation issue ios (#427)
  package.json
Due: none

Revert "commented try catch to identify issues for beta release"
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ThreadUtil.java
Due: none

commented try catch to identify issues for beta release
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ThreadUtil.java
Due: none

handled llhls buffering exception
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

handled application thread execution for player
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ThreadUtil.java
Due: none

Memory leak fix
  ios/Video/RCTVideo.m
Due: none

Update EncryptedFileDataSource.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/EncryptedFileDataSource.java
Due: none

Create EncryptedFileDataSourceFactory.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/EncryptedFileDataSourceFactory.java
Due: none

Reading Encrypted file support
  android-exoplayer/build.gradle
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/EncryptedFileDataSource.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

fixes for player release and m4s files
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

merge issue fixes
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
Due: none

Revert "[CLX-5538] Reading Encrypted file support"
  android-exoplayer/build.gradle
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

Reading Encrypted file support
  android-exoplayer/build.gradle
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

Fixed video stalling on speed cahnge
  Video.js
  ios/Video/RCTVideo.m
Due: lint, types

Crash and memory leak fixes
  ios/Video/ChromaImageFilter.m
  ios/Video/RCTVideo.m
Due: none

Used metal kit for green screen removal
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  ios/Video/RCTVideo.h
  ios/Video/RCTVideo.m
  ios/Video/RCTVideoManager.m
Due: none

Log bitrate and resolution of video in callbacks
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
Due: none
