Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint-docs, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "docs/**/*"
      run: bun lint
    lint-docs:
      # using @widlarzgroup/eslint-plugin-docusaurus for CSS variable validation
      root: "docs/"
      glob: "**/*.{js,ts,jsx,tsx,css}"
      run: bun run lint
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

fix: remove unused import
  android/src/main/java/com/brentvatne/common/api/Source.kt
Due: none

feat!: add DAI support (#4816)
  android/gradle.properties
  android/src/main/java/androidx/media3/exoplayer/ima/ImaServerSideAdInsertionMediaSource.java
  android/src/main/java/androidx/media3/exoplayer/ima/ImaServerSideAdInsertionUriBuilder.java
  android/src/main/java/com/brentvatne/common/api/AdsProps.kt
  android/src/main/java/com/brentvatne/common/api/Source.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  docs/pages/component/ads.md
  docs/pages/component/props.mdx
  examples/common/constants/general.ts
  ios/Video/DataStructures/AdParams.swift
  ios/Video/Features/RCTIMAAdsManager.swift
  ios/Video/RCTVideo.swift
  ios/Video/RCTVideoManager.m
  src/Video.tsx
  src/specs/VideoNativeComponent.ts
  src/types/video.ts
Due: types

feat(windows): add Win32 solution files for bare example
  examples/bare/windows/.gitignore
  examples/bare/windows/BareExample.sln
  examples/bare/windows/BareExample/BareExample.def
  examples/bare/windows/BareExample/BareExample.vcxproj
  examples/bare/windows/BareExample/BareExample.vcxproj.filters
  examples/bare/windows/BareExample/BareExampleModule.h
  examples/bare/windows/BareExample/ReactPackageProvider.cpp
  examples/bare/windows/BareExample/ReactPackageProvider.h
  examples/bare/windows/BareExample/ReactPackageProvider.idl
  examples/bare/windows/BareExample/packages.config
  examples/bare/windows/BareExample/pch.cpp
  examples/bare/windows/BareExample/pch.h
  examples/bare/windows/BareExampleApp/App.cpp
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.props
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.targets
  examples/bare/windows/BareExampleApp/BareExampleApp.rc
  examples/bare/windows/BareExampleApp/BareExampleApp.vcxproj
  examples/bare/windows/BareExampleApp/BareExampleApp.vcxproj.filters
  examples/bare/windows/BareExampleApp/PropertySheet.props
  examples/bare/windows/BareExampleApp/packages.config
  examples/bare/windows/BareExampleApp/pch.cpp
  examples/bare/windows/BareExampleApp/pch.h
  examples/bare/windows/BareExampleApp/resource.h
  examples/bare/windows/BareExampleApp/targetver.h
  examples/bare/windows/README.md
Due: none

adding chnegs for win32 app
  examples/bare/build_log.txt
  examples/bare/build_win32.bat
  examples/bare/react-native.config.js
  examples/bare/windows/BareExample.sln
  examples/bare/windows/BareExample/BareExample.vcxproj
  examples/bare/windows/BareExample/BareExampleModule.h
  examples/bare/windows/BareExample/packages.lock.json
  examples/bare/windows/BareExampleApp/App.cpp
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.cpp
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.h
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.props
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.targets
  examples/bare/windows/BareExampleApp/BareExampleApp.vcxproj
  examples/bare/windows/BareExampleApp/packages.lock.json
  examples/bare/windows/BareExampleApp/targetver.h
  examples/bare/windows/Directory.Build.props
  examples/bare/windows/Directory.Build.targets
  examples/bare/windows/README.md
Due: types

adding fixes for app crash
  examples/bare/App.minimal.js
  examples/bare/index.js
  examples/bare/package.json
  examples/bare/windows/BareExample/BareExample.vcxproj
  examples/bare/windows/BareExample/packages.lock.json
  examples/bare/windows/BareExampleApp/App.cpp
  examples/bare/windows/BareExampleApp/App.xaml
  examples/bare/windows/BareExampleApp/Assets/SplashScreen.png
  examples/bare/windows/BareExampleApp/Assets/Square150x150Logo.png
  examples/bare/windows/BareExampleApp/Assets/Square44x44Logo.png
  examples/bare/windows/BareExampleApp/Assets/StoreLogo.png
  examples/bare/windows/BareExampleApp/Assets/Wide310x150Logo.png
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.cpp
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.targets
  examples/bare/windows/BareExampleApp/BareExampleApp.vcxproj
  examples/bare/windows/BareExampleApp/Package.appxmanifest
  examples/bare/windows/BareExampleApp/packages.config
  examples/bare/windows/BareExampleApp/packages.lock.json
  examples/bare/windows/BareExampleApp/pch.h
  examples/bare/windows/README.md
Due: types

chore: release v6.19.0
  CHANGELOG.md
  package.json
Due: none

fix: access `AudioFocusChangeListener` on main thread
  packages/react-native-video/android/src/main/java/com/twg/video/core/AudioFocusManager.kt
Due: none

fix: access `AudioFocusChangeListener` on main thread (#4821)
  packages/react-native-video/android/src/main/java/com/twg/video/core/AudioFocusManager.kt
Due: none

feat: pause ads on tvos (#485)
  ios/JSProps/JSProps.swift
  ios/Video/NewPlayerView.swift
  ios/Video/PlayerViewProxy.swift
  ios/Video/RCTVideoManager.m
  package.json
Due: none

fix: video not loading when external subtitles are malformed
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
Due: none

fix: video not loading when external subtitles are malformed (#4822)
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
Due: none

chore: resolve lint & tsc errors
  docs/src/components/Homepage/Hero/Hero.tsx
  docs/tsconfig.json
  packages/react-native-video/src/core/VideoPlayerEvents.ts
Due: lint-docs, types

chore: resolve lint & tsc errors (#4823)
  docs/src/components/Homepage/Hero/Hero.tsx
  docs/tsconfig.json
  packages/react-native-video/src/core/VideoPlayerEvents.ts
Due: lint-docs, types

adding react-native.config chnages
  examples/bare/react-native.config.js
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.cpp
  examples/bare/windows/BareExampleApp/AutolinkedNativeModules.g.targets
Due: types

chore: remove redundant Package.appxmanifest and Assets from BareExampleApp
  examples/bare/windows/BareExampleApp/Assets/SplashScreen.png
  examples/bare/windows/BareExampleApp/Assets/Square150x150Logo.png
  examples/bare/windows/BareExampleApp/Assets/Square44x44Logo.png
  examples/bare/windows/BareExampleApp/Assets/StoreLogo.png
  examples/bare/windows/BareExampleApp/Assets/Wide310x150Logo.png
  examples/bare/windows/BareExampleApp/Package.appxmanifest
Due: none

chore: release 7.0.0-beta.3
  example/package.json
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: none

chore: bump RNDV (#486)
  package.json
Due: none

chore: upper case tabs
  docs/docs/fundaments/_category_.json
  docs/docs/fundaments/configuration/expo-plugin.md
  docs/docs/fundaments/configuration/manual.md
  docs/docs/fundaments/installation.md
  docs/docs/fundaments/intro.md
  docs/docs/player/_category_.json
  docs/docs/player/ads/_category_.json
  docs/docs/player/analytics/_category_.json
  docs/docs/player/analytics/manual.md
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/drm-downloading.md
  docs/docs/player/downloading/events.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/downloading/track-selection.md
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player.md
  docs/docs/plugins/_category_.json
  docs/docs/plugins/examples.md
  docs/docs/plugins/interface.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
  docs/docs/plugins/use-in-third-party-library.md
  docs/docs/video-view/chapters.md
  docs/docs/video-view/events.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
  docs/docs/video-view/video-view.md
Due: none

fix: release ads on unmount
  ios/Video/RCTVideo.swift
Due: none

updating media player in app.tsx
  examples/bare/App.minimal.js
  examples/bare/metro.config.js
Due: types

refactor: update configuration tabs name
  docs/docs/fundaments/configuration/_category_.json
  docs/docs/fundaments/configuration/with-expo.md
  docs/docs/fundaments/configuration/without-expo.md
Due: none

feat: add `ask for plugin` tab
  docs/docs/fundaments/intro.md
  docs/docs/plugins/ask-for-plugin.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
Due: none

refactor: update analytics tab
  docs/docs/player/analytics/_category_.json
  docs/docs/player/analytics/manual.md
  docs/docs/player/analytics/simple.md
Due: none

docs: update player class tip
  docs/docs/player/video-player.md
Due: none

docs: make chapters paid
  docs/docs/video-view/chapters.md
Due: none

docs: update utm's
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/drm.md
  docs/docs/projects.md
Due: none

docs(downloading): update intro
  docs/docs/player/downloading/getting-started.md
Due: none

chore: bump `docusaurus-ui` package to 0.1.2
  bun.lock
  docs/docusaurus.config.ts
  docs/package.json
Due: lint-docs, types

fix: update paths
  docs/docs/fundaments/configuration/without-expo.md
  docs/docs/fundaments/installation.md
  docs/docs/fundaments/intro.md
Due: none

docs: update dashes
  docs/docs/player/events.md
  docs/docs/player/video-player.md
  docs/docs/plugins/ask-for-plugin.md
  docs/docs/plugins/plugins.mdx
Due: none

docs: update downloading events example imports
  docs/docs/player/downloading/events-downloading.md
Due: none

docs: update readme
  docs/README.md
Due: none

fix(ios): prevent KVO crash in HybridVideoPlayer.release()
  packages/react-native-video/ios/core/VideoPlayerObserver.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
Due: none

updating path
  examples/bare/windows/BareExampleApp.sln
Due: none

removing patch file
  examples/bare/patches/@react-native-picker+picker+2.11.0.patch
Due: none

docs: update case
  docs/docs/player/downloading/_category_.json
Due: none
