Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint

types:
  run: bun typecheck

added lint fix
  examples/bare/metro.config.js
  examples/bare/react-native.config.js
  examples/common/BasicExample.windows.tsx
  examples/common/components/AudioTracksSelector.tsx
  examples/common/components/MultiValueControl.tsx
  examples/common/components/Overlay.tsx
  examples/common/components/Seeker.tsx
  examples/common/components/TextTracksSelector.tsx
  examples/common/components/TopControl.tsx
  examples/common/components/VideoTracksSelector.tsx
  examples/expo/metro.config.js
  examples/react-native-video-plugin-sample/src/index.tsx
  src/specs/NativeVideoManagerSpec.ts
Due: lint, types

fix: tvos tracks preselection (#475)
  package.json
Due: none

Fix/track preslection (#476)
  package.json
Due: none

chore: bump harness
  bun.lock
  example/package.json
  example/src/App.tsx
  example/src/tests/VideoPlayer.harness.ts
Due: lint, types

fix: handles view not found error gracefully
  packages/react-native-video/src/core/video-view/VideoView.tsx
Due: lint

Update packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/core/video-view/VideoView.tsx
Due: lint

fix: video loaded callback
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

fix: handles view not found error gracefully (#4788)
  packages/react-native-video/src/core/video-view/VideoView.tsx
Due: lint

chore: release 7.0.0-alpha.11
  bun.lock
  example/package.json
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: none

fix: replace custom AppContextHolder logic with NitroModules.applicationContext
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayersource/HybridVideoPlayerSourceFactory.kt
  packages/react-native-video/android/src/main/java/com/twg/video/react/AppContextHolder.kt
  packages/react-native-video/android/src/main/java/com/twg/video/react/VideoPackage.kt
Due: none

chore: bump to `rndv` 7.5.1 and `doris-android` 5.4.1 (#477)
  package.json
Due: none

Fix/androidtv skip auto focus (#478)
  package.json
Due: none

feat: enhance video playback with IMA ad manager time conversions
  ios/Video/Features/RCTIMAAdsManager.swift
  ios/Video/RCTVideo.swift
Due: none

chore: bump example version
  bun.lock
  example/ios/Podfile.lock
Due: none

fix(nitrogen): release build with plugins issue
  example/patches/nitrogen+0.30.1.patch
Due: none

refactor: create new nitrogen files
  packages/react-native-video/nitrogen/generated/ios/swift/BandwidthData.swift
  packages/react-native-video/nitrogen/generated/ios/swift/BufferConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/LivePlaybackParams.swift
Due: none

fix(nitrogen): release build issue for plugins (#4793)
  bun.lock
  example/ios/Podfile.lock
  example/patches/nitrogen+0.30.1.patch
  packages/react-native-video/nitrogen/generated/ios/swift/BandwidthData.swift
  packages/react-native-video/nitrogen/generated/ios/swift/BufferConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/LivePlaybackParams.swift
Due: none

chore: release 7.0.0-alpha.12
  bun.lock
  packages/react-native-video/package.json
Due: none

chore: release 7.0.0-alpha.12 (#4794)
  bun.lock
  packages/react-native-video/package.json
Due: none

[UTV-4419] Subtitle/audio track change event (#479)
  Video.tsx
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  package.json
  types/callbacks.ts
  types/event.ts
Due: lint, types

chore: prepare for beta release
  README.md
  docs/docusaurus.config.ts
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: lint, types

chore: prepare for beta release (#4796)
  README.md
  docs/docusaurus.config.ts
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: lint, types

chore: release 7.0.0-beta.0
  example/package.json
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: none

changes 1.4.1
  android/src/main/java/com/brentvatne/common/api/SideLoadedTextTrack.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/exoplayer/UnknownSubtitlesExtractor.java
Due: none

fix build
  android/src/main/java/com/brentvatne/exoplayer/UnknownSubtitlesExtractor.java
Due: none

refactor: video view events
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
  packages/react-native-video/ios/hybrids/VideoViewViewManager/HybridVideoViewViewManager.swift
  packages/react-native-video/ios/view/VideoComponentViewObserver.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoViewViewManagerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoViewViewManagerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/src/core/types/Events.ts
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
Due: lint, types

chore: release 7.0.0-beta.1
  example/package.json
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: none

[ENG4BCMA-0000] Android. Always hide the live badge.
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
Due: none

fix(android): local asset for android in release (#4784)
  bun.lock
  example/android/app/build.gradle
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayersource/HybridVideoPlayerSourceFactory.kt
  packages/react-native-video/android/src/main/java/com/twg/video/react/VideoPackage.kt
Due: none

docs: update README
  README.md
Due: none

fix(ios): player never go into readyToPlay status
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer+Events.swift
Due: none

refactor: don't use nitro dispose
  bun.lock
  example/ios/Podfile.lock
  packages/drm-plugin/nitrogen/generated/android/c++/JHybridPluginManagerSpec.cpp
  packages/drm-plugin/nitrogen/generated/android/c++/JHybridPluginManagerSpec.hpp
  packages/drm-plugin/nitrogen/generated/android/kotlin/com/margelo/nitro/videodrm/HybridPluginManagerSpec.kt
  packages/drm-plugin/nitrogen/generated/ios/ReactNativeVideoDrm-Swift-Cxx-Bridge.cpp
  packages/drm-plugin/nitrogen/generated/ios/c++/HybridPluginManagerSpecSwift.hpp
  packages/drm-plugin/nitrogen/generated/ios/swift/HybridPluginManagerSpec.swift
  packages/drm-plugin/nitrogen/generated/ios/swift/HybridPluginManagerSpec_cxx.swift
  packages/react-native-video/android/src/main/java/com/twg/video/core/VideoManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayereventemitter/HybridVideoPlayerEventEmitter.kt
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
Due: lint, types

Update packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
Due: none

Update packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
