Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint

types:
  run: bun typecheck

lint code
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/RNVPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

add comment
  android/src/main/java/com/brentvatne/exoplayer/DRMManager.kt
Due: none

chore(ios): remove duplicated code (#4439)
  examples/bare/ios/Podfile.lock
  ios/Video/RCTVideo.swift
Due: none

docs: update plugins section
  docs/pages/other/plugin.md
Due: none

fix(android): call `startForeground()` immediately to prevent `ForegroundServiceDidNotStartInTimeException` (#4453)
  android/src/main/java/com/brentvatne/exoplayer/VideoPlaybackService.kt
  android/src/main/res/values/strings.xml
Due: none

feat: enhance react-native-video plugins [Plugins API Breaking] (#4366)
  android/src/main/java/com/brentvatne/exoplayer/DRMManager.kt
  android/src/main/java/com/brentvatne/exoplayer/DRMManagerSpec.kt
  android/src/main/java/com/brentvatne/exoplayer/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/react/RNVPlugin.kt
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  docs/pages/other/plugin.md
  examples/bare/ios/Podfile.lock
  examples/common/DRMExample.tsx
  examples/react-native-video-plugin-sample/android/src/main/java/com/videopluginsample/VideoPluginSampleModule.kt
  examples/react-native-video-plugin-sample/ios/VideoPluginSample.swift
  ios/Video/DataStructures/DRMParams.swift
  ios/Video/Features/DRMManager.swift
  ios/Video/Features/DRMManagerSpec.swift
  ios/Video/RCTVideo.swift
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/RNVPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: lint

fix(windows): event name not matches with SPEC (#4455)
  windows/ReactNativeVideoCPP/ReactVideoView.cpp
  windows/ReactNativeVideoCPP/ReactVideoViewManager.cpp
Due: none

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@6e6f91517c492cdc7d2140ae8564712e9a98450a 🚀
  404.html
  _next/static/LLssOWTtuALHNGjDHVAG7/_buildManifest.js
  _next/static/LLssOWTtuALHNGjDHVAG7/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/other/plugin-8a420f1f37850251.js
  _next/static/chunks/pages/other/plugin-e74429a7adce501d.js
  _next/static/s-_w1V-KfJcx4aC4168Fp/_buildManifest.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

refactor(ios): add audio session manager
  ios/Video/AudioSessionManager.swift
  ios/Video/Features/RCTPlayerOperations.swift
  ios/Video/NowPlayingInfoCenterManager.swift
  ios/Video/RCTVideo.swift
Due: none

refactor(ios): add audio session manager (#4466)
  ios/Video/AudioSessionManager.swift
  ios/Video/Features/RCTPlayerOperations.swift
  ios/Video/NowPlayingInfoCenterManager.swift
  ios/Video/RCTVideo.swift
Due: none

feat(windows): add topSeek parms mentioned in docs (#4456)
  windows/ReactNativeVideoCPP/ReactVideoView.cpp
  windows/ReactNativeVideoCPP/ReactVideoView.h
Due: none

docs: update examples (#4468)
  README.md
  docs/pages/component/drm.mdx
Due: none

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@044e08a78d3e8c2349dfcbc7dbca50fed820a945 🚀
  404.html
  _next/static/LLssOWTtuALHNGjDHVAG7/_buildManifest.js
  _next/static/MDmfWKEojiTBjRkSG5o49/_buildManifest.js
  _next/static/MDmfWKEojiTBjRkSG5o49/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/component/drm-630f1f2c25f428d8.js
  _next/static/chunks/pages/component/drm-79b0ff1faf30d7cd.js
  _next/static/chunks/pages/other/plugin-bd549db5772b4034.js
  _next/static/chunks/pages/other/plugin-e74429a7adce501d.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

chore: release v6.11.0
  CHANGELOG.md
  package.json
Due: none

Fix/ads black frame (#416)
  package.json
Due: none

fix: missing annotation button (#415)
  ios/Video/NewPlayerView.swift
  package.json
Due: none

refactor(ios): unpause after exiting fullscreen
  examples/bare/ios/Podfile.lock
  examples/common/BasicExample.tsx
  ios/Video/Features/RCTPlayerObserver.swift
Due: lint

chore: lint code
  ios/Video/Features/RCTPlayerObserver.swift
Due: none

Don't try to modify react view after unmount
  ios/Video/RCTVideo.swift
Due: none

docs: update favico & add json-ld
  docs/json-ld.json
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/favicon.png
  docs/theme.config.jsx
Due: lint

Update link parametr
  docs/json-ld.json
Due: none

docs: update favico & add json-ld (#4477)
  docs/json-ld.json
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/favicon.png
  docs/theme.config.jsx
Due: lint

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@445862705101e1c397d9e14cb901c5306db8a0d1 🚀
  404.html
  _next/static/KvqzOzaF3yJMgAYsNo47n/_buildManifest.js
  _next/static/KvqzOzaF3yJMgAYsNo47n/_ssgManifest.js
  _next/static/MDmfWKEojiTBjRkSG5o49/_buildManifest.js
  _next/static/chunks/pages/_app-1f89a20566de2b7d.js
  _next/static/chunks/pages/_app-b3d6f25edbe55d5c.js
  _next/static/chunks/pages/component/drm-70e389391270d2d5.js
  _next/static/chunks/pages/component/drm-79b0ff1faf30d7cd.js
  _next/static/chunks/pages/other/plugin-615c9376878333bf.js
  _next/static/chunks/pages/other/plugin-bd549db5772b4034.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  favicon-16x16.png
  favicon-32x32.png
  favicon.ico
  favicon.png
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

bug/#3640-android-poster-not-working
  src/Video.tsx
Due: lint

feat(android): implement initialBitrate
  android/src/main/java/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerConfig.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.kt
  src/types/video.ts
Due: lint, types

refactor: reorder type
  src/types/video.ts
Due: lint, types

docs: add initialBitrate section
  docs/pages/component/props.mdx
Due: none

fix: lint
  android/src/main/java/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.kt
Due: none

fix(ios): don't try to modify react view after unmount (#4474)
  ios/Video/RCTVideo.swift
Due: none

fix: bump doris android and rndv to fix time format issue on rtl (#417)
  package.json
Due: none

refactor(ios): unpause after exiting fullscreen (#4472)
  examples/bare/ios/Podfile.lock
  examples/common/BasicExample.tsx
  ios/Video/Features/RCTPlayerObserver.swift
Due: lint

feat(ios): allow to disable audio sessions management
  docs/pages/component/props.mdx
  ios/Video/AudioSessionManager.swift
  ios/Video/RCTVideo.swift
  ios/Video/RCTVideoManager.m
  src/specs/VideoNativeComponent.ts
  src/types/video.ts
Due: lint, types

chore: lint code
  ios/Video/AudioSessionManager.swift
  ios/Video/RCTVideo.swift
Due: none

update the json file.
  package.json
Due: none

refactor: move `initialBitrate` into `source.bufferConfig`
  android/src/main/java/com/brentvatne/common/api/BufferConfig.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.kt
  docs/bun.lockb
  docs/pages/component/props.mdx
  src/types/video.ts
Due: lint, types

feat: manage asset plugins
  android/src/main/java/com/brentvatne/exoplayer/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
Due: none

fix: continue when plugin is not exoplayer plugin
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
Due: none

refactor: change functions plugin type
  android/src/main/java/com/brentvatne/exoplayer/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
Due: none

docs: introduce new plugins
  docs/pages/other/plugin.md
Due: none

feat(android): add asset management functions to plugin (#4494)
  android/src/main/java/com/brentvatne/exoplayer/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  docs/pages/other/plugin.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
