Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

chore: update comment
  ios/Video/RNVAVPlayerPlugin.swift
Due: none

feat(ios): add `overridePlayerAsset` to `AVPlayerPlugin` (#4522)
  docs/pages/other/plugin.md
  examples/expo/ios/Podfile.lock
  ios/Video/DataStructures/AdParams.swift
  ios/Video/DataStructures/CustomMetadata.swift
  ios/Video/DataStructures/OverridePlayerAsset.swift
  ios/Video/DataStructures/TextTrack.swift
  ios/Video/DataStructures/VideoSource.swift
  ios/Video/RCTVideo.swift
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

chore: release v6.13.0
  CHANGELOG.md
  package.json
Due: none

chore: add issue number to utm tag
  .github/scripts/validate.js
Due: lint, types

chore: add issue number to link (#4524)
  .github/scripts/validate.js
Due: lint, types

docs: update links
  docs/pages/_meta.json
  docs/pages/component/drm.mdx
  docs/pages/other/debug.md
Due: none

docs: update links (#4525)
  docs/pages/_meta.json
  docs/pages/component/drm.mdx
  docs/pages/other/debug.md
Due: none

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@368830954e64f766284c2be79455188dc5257dd5 🚀
  404.html
  _next/static/078dhD3hsWr3P59276Yej/_buildManifest.js
  _next/static/078dhD3hsWr3P59276Yej/_ssgManifest.js
  _next/static/_JMjaCIDlQtBAsqYf72ng/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/component/drm-0b5b069282c82630.js
  _next/static/chunks/pages/component/drm-dea9b3ed9c36ef42.js
  _next/static/chunks/pages/other/debug-51588e5224f09326.js
  _next/static/chunks/pages/other/debug-83f6e6adbd7ae713.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

feat(android): add support for RN 0.77
  packages/react-native-video/android/src/paper/java/com/facebook/react/viewmanagers/VideoViewManagerDelegate.java
Due: none

fix(android): duplicated `libreactnative.so` error
  packages/react-native-video/android/build.gradle
Due: none

fix(package): adjust publish settings
  packages/react-native-video/package.json
Due: none

chore: update license generation
  packages/react-native-video/LICENSE
  packages/react-native-video/THIRD-PARTY-LICENSES
  packages/react-native-video/package.json
  scripts/generate-third-party-licenses.js
Due: lint, types

chore: update package.json
  packages/react-native-video/package.json
Due: none

chore: add release action
  .github/workflows/publish-release.yml
  scripts/release.js
Due: lint, types

chore(example): bump react-native & expo version (#4500)
  examples/bare/android/gradle/wrapper/gradle-wrapper.jar
  examples/bare/android/gradle/wrapper/gradle-wrapper.properties
  examples/bare/android/gradlew
  examples/bare/android/gradlew.bat
  examples/bare/ios/Podfile.lock
  examples/bare/package.json
  examples/bare/patches/@react-native-picker+picker+2.11.0.patch
  examples/expo/android/app/src/main/java/com/anonymous/ExpoExample/MainActivity.kt
  examples/expo/android/app/src/main/res/values/styles.xml
  examples/expo/android/build.gradle
  examples/expo/android/gradle.properties
  examples/expo/ios/ExpoExample.xcodeproj/project.pbxproj
  examples/expo/ios/ExpoExample/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  examples/expo/ios/Podfile.properties.json
  examples/expo/package.json
  package.json
  src/Video.web.tsx
  src/types/video-ref.ts
Due: lint, types

fix(ios): swfit modular headers
  examples/bare/.bundle/config
  examples/bare/.gitignore
  examples/bare/Gemfile
  examples/bare/Gemfile.lock
  examples/bare/ios/Podfile
  examples/bare/ios/Podfile.lock
Due: none

docs: update video cache section
  docs/pages/installation.md
  docs/pages/other/caching.md
  docs/pages/updating.md
Due: none

chore: update ci iOS build
  .github/workflows/build-ios.yml
Due: none

fix: import plugin only if "RNV_SAMPLE_VIDEO_CACHING" is set
  examples/bare/ios/Podfile
Due: none

🤦
  examples/bare/ios/Podfile
Due: none

fix(ios): swfit modular headers (#4527)
  .github/workflows/build-ios.yml
  docs/pages/installation.md
  docs/pages/other/caching.md
  docs/pages/updating.md
  examples/bare/.bundle/config
  examples/bare/.gitignore
  examples/bare/Gemfile
  examples/bare/Gemfile.lock
  examples/bare/ios/Podfile
  examples/bare/ios/Podfile.lock
Due: none

feat(web): allow `style` prop overrides
  package.json
  src/Video.web.tsx
Due: lint

Feat/mediatailor integration android (#421)
  android-exoplayer/src/main/java/com/brentvatne/entity/RNSource.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoDorisFactory.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerViewManager.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVPropsParser.java
  package.json
Due: none

Only set _isBuffering = true if newValue is also true
  ios/Video/RCTVideo.swift
Due: none

custom DataSourceUtil
  android/src/main/java/com/brentvatne/exoplayer/DataSourceUtil.kt
Due: none

fix lint
  android/src/main/java/com/brentvatne/exoplayer/DataSourceUtil.kt
Due: none

chore: bump doris-android to 3.14.1 (#422)
  package.json
Due: none

Super/mediatailor integration (#423)
  ios/JSProps/Ads.swift
  ios/Video/PlayerViewProxy.swift
  package.json
Due: none

feat: add fullscreen & Picture in Picture API (#7)
  bun.lock
  example/android/app/src/main/AndroidManifest.xml
  example/ios/Podfile.lock
  example/ios/VideoExample.xcodeproj/project.pbxproj
  example/ios/VideoExample/Info.plist
  example/src/App.tsx
  packages/react-native-video/android/src/main/AndroidManifest.xml
  packages/react-native-video/android/src/main/AndroidManifestNew.xml
  packages/react-native-video/android/src/main/java/com/video/core/VideoError.kt
  packages/react-native-video/android/src/main/java/com/video/core/VideoManager.kt
  packages/react-native-video/android/src/main/java/com/video/core/activities/FullscreenVideoViewActivity.kt
  packages/react-native-video/android/src/main/java/com/video/core/fragments/PictureInPictureHelperFragment.kt
  packages/react-native-video/android/src/main/java/com/video/core/utils/PictureInPictureUtils.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/video/view/VideoView.kt
  packages/react-native-video/android/src/main/res/layout/fullscreen_video_view_activity.xml
  packages/react-native-video/ios/core/Extensions/AVPlayerViewController+Fullscreen.swift
  packages/react-native-video/ios/core/Extensions/AVPlayerViewController+PictureInPicture.swift
  packages/react-native-video/ios/core/Extensions/NSObject+PerformIfResponds.swift
  packages/react-native-video/ios/core/VideoError.swift
  packages/react-native-video/ios/core/VideoManager.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/ios/hybrids/VideoViewViewManager/HybridVideoViewViewManager.swift
  packages/react-native-video/ios/view/VideoComponentView.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoViewViewManagerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoViewViewManagerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/src/VideoView.tsx
  packages/react-native-video/src/core/types/VideoError.ts
  packages/react-native-video/src/index.tsx
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
Due: lint, types

chore: bump react-native-video package version
  packages/react-native-video/package.json
Due: none

fix(ios): name typo
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
Due: none

fix(android): cannot disable native controls
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/video/view/VideoView.kt
  packages/react-native-video/package.json
Due: none

fix: seekbar not sending events sometimes on iOS (#424)
  package.json
Due: none

fix: add static frameworks support (#8)
  packages/react-native-video/ReactNativeVideo.podspec
  packages/react-native-video/ios/view/fabric/VideoView.mm
  packages/react-native-video/ios/view/paper/VideoView.mm
Due: none

chore: bump version
  packages/react-native-video/package.json
Due: none

fix default cropStart fallback
  src/Video.tsx
Due: lint

chore: bump RNDV fix mediaTailor tvos seek issue (#425)
  package.json
Due: none

testing setting for incopatibility lib
  package.json
Due: none
