Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint

types:
  run: bun typecheck

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@697afd52f60cbd52660843b8d29228a2ff7d0060 🚀
  404.html
  _next/static/KvqzOzaF3yJMgAYsNo47n/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/other/plugin-4394338935a8cf2d.js
  _next/static/chunks/pages/other/plugin-615c9376878333bf.js
  _next/static/i4YxK-QNmG_6ZHuBeCXDl/_buildManifest.js
  _next/static/i4YxK-QNmG_6ZHuBeCXDl/_ssgManifest.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

Set playback speed controls to initial playback rate
  ios/Video/RCTVideo.swift
Due: none

chore(example/expo): bump expo version
  examples/expo/android/app/src/main/java/com/anonymous/ExpoExample/MainActivity.kt
  examples/expo/android/app/src/main/res/values/styles.xml
  examples/expo/android/build.gradle
  examples/expo/android/gradle.properties
  examples/expo/ios/ExpoExample.xcodeproj/project.pbxproj
  examples/expo/ios/ExpoExample/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  examples/expo/ios/Podfile.properties.json
  examples/expo/package.json
Due: none

UTV-3458: Add null-check to setMetadata (#418)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  package.json
Due: none

chore(example/bare): bump react-native version
  examples/bare/android/gradle/wrapper/gradle-wrapper.jar
  examples/bare/android/gradle/wrapper/gradle-wrapper.properties
  examples/bare/android/gradlew
  examples/bare/android/gradlew.bat
  examples/bare/ios/Podfile.lock
  examples/bare/package.json
  examples/bare/patches/@react-native-picker+picker+2.11.0.patch
  package.json
  src/Video.web.tsx
  src/types/video-ref.ts
Due: lint, types

feat(ios): set playback speed controls to initial playback rate (#4495)
  ios/Video/RCTVideo.swift
Due: none

fix: beter isLocalAsset checks
  src/Video.tsx
Due: lint

fix: add "asset://" to possible assets paths
  src/Video.tsx
Due: lint

Update src/Video.tsx
  src/Video.tsx
Due: lint

feat(android): initial bitrate (#4480)
  android/src/main/java/com/brentvatne/common/api/BufferConfig.kt
  android/src/main/java/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerConfig.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  docs/bun.lockb
  docs/pages/component/props.mdx
  src/types/video.ts
Due: lint, types

fix: add extra checks to determine if a file is local (#4503)
  src/Video.tsx
Due: lint

chore: fix alphabetical order
  docs/pages/component/props.mdx
Due: none

feat(ios): allow to disable audio sessions management (#4492)
  docs/pages/component/props.mdx
  ios/Video/AudioSessionManager.swift
  ios/Video/RCTVideo.swift
  ios/Video/RCTVideoManager.m
  src/specs/VideoNativeComponent.ts
  src/types/video.ts
Due: lint, types

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@8836362609d226f795b01e1c65a70b9c4ecde1e5 🚀
  404.html
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/component/props-9378fc394ac10d45.js
  _next/static/chunks/pages/component/props-e93a8942119bd565.js
  _next/static/cvqINledB8tGmGwd12x0l/_buildManifest.js
  _next/static/cvqINledB8tGmGwd12x0l/_ssgManifest.js
  _next/static/tD1UK3cbt925ppFhvxVxS/_buildManifest.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

chore: release v6.12.0
  CHANGELOG.md
  package.json
Due: none

chore(example): update react-native version
  bun.lock
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/VideoExample-Bridging-Header.h
  example/ios/VideoExample.xcodeproj/project.pbxproj
  example/ios/VideoExample/AppDelegate.h
  example/ios/VideoExample/AppDelegate.mm
  example/ios/VideoExample/AppDelegate.swift
  example/ios/VideoExample/main.m
  example/package.json
  package.json
  packages/react-native-video/ios/view/fabric/VideoView.mm
  packages/react-native-video/package.json
  packages/react-native-video/src/VideoView.tsx
Due: lint

Forward real fullscreen events from AVPlayer instead of guessing
  ios/Video/Features/RCTPlayerObserver.swift
  ios/Video/RCTVideo.swift
Due: none

fix(tvos): build
  ios/Video/Features/RCTPlayerObserver.swift
  ios/Video/RCTVideo.swift
Due: none

Syntax cleanup
  examples/react-native-video-plugin-sample/ios/VideoPluginSample.swift
  ios/Video/Features/RCTPlayerObserver.swift
  ios/Video/RCTVideo.swift
Due: none

allowsVideoFrameAnalysis not available in catalyst until 18.0
  ios/Video/RCTVideo.swift
Due: none

chore: add depreciation message
  Video.js
Due: lint, types

fix(tvos): build (#4511)
  ios/Video/Features/RCTPlayerObserver.swift
  ios/Video/RCTVideo.swift
Due: none

fix(macCatalyst): allowsVideoFrameAnalysis not available in catalyst until 18.0 (#4515)
  ios/Video/RCTVideo.swift
Due: none

chore: bump package version
  package.json
Due: none

chore: update bot message
  .github/scripts/validate.js
Due: lint, types

chore: hide previous comments on feat
  .github/scripts/validate.js
Due: lint, types

chore: update bot messages (#4)
  .github/scripts/validate.js
Due: lint, types

chore: update feat req bot message
  .github/scripts/validate.js
Due: lint, types

chore: messaging migrate to S3 and bump doris (#420)
  android-exoplayer/build.gradle
  package.json
Due: none

chore: update bot messages (#4517)
  .github/scripts/validate.js
Due: lint, types

feat: add more basic functionality (#5)
  example/ios/VideoExample.xcodeproj/project.pbxproj
  example/src/App.tsx
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/ios/core/VideoPlayerObserver.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/types/VideoPlayerBase.ts
Due: lint, types

feat(android): add support for hls & dash (#6)
  bun.lock
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  packages/react-native-video/android/build.gradle
  packages/react-native-video/android/gradle.properties
  packages/react-native-video/android/src/androidx/media3/exoplayer/dash/DashMediaSource.kt
  packages/react-native-video/android/src/androidx/media3/exoplayer/dash/DashUtil.kt
  packages/react-native-video/android/src/androidx/media3/exoplayer/dash/manifest/AdaptationSet.kt
  packages/react-native-video/android/src/androidx/media3/exoplayer/dash/manifest/DashManifest.kt
  packages/react-native-video/android/src/androidx/media3/exoplayer/dash/manifest/Period.kt
  packages/react-native-video/android/src/androidx/media3/exoplayer/dash/manifest/Representation.kt
  packages/react-native-video/android/src/androidx/media3/exoplayer/hls/HlsMediaSource.kt
  packages/react-native-video/android/src/main/java/com/video/core/VideoError.kt
  packages/react-native-video/android/src/main/java/com/video/core/player/DataSourceFactoryUtils.kt
  packages/react-native-video/android/src/main/java/com/video/core/player/MediaSourceUtils.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayersource/HybridVideoPlayerSource.kt
Due: lint

Changing switch sintaxe to preserve compatibility with java 11 or minus
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

Changing default speed value to 1.0f
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

feat(ios): add `overridePlayerAsset` to `AVPlayerPlugin`
  docs/pages/other/plugin.md
  examples/expo/ios/Podfile.lock
  ios/Video/DataStructures/AdParams.swift
  ios/Video/DataStructures/CustomMetadata.swift
  ios/Video/DataStructures/OverridePlayerAsset.swift
  ios/Video/DataStructures/TextTrack.swift
  ios/Video/DataStructures/VideoSource.swift
  ios/Video/RCTVideo.swift
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

chore: clean & lint code
  docs/pages/other/plugin.md
  ios/Video/DataStructures/OverridePlayerAsset.swift
  ios/Video/RCTVideo.swift
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
