Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

docs: add surface type
  docs/docs/video-view.md
Due: none

feat(android): add surface type prop (#4719)
  bun.lock
  docs/docs/video-view.md
  example/ios/Podfile.lock
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
  packages/react-native-video/android/src/main/res/layout/player_view_surface.xml
  packages/react-native-video/android/src/main/res/layout/player_view_texture.xml
  packages/react-native-video/ios/hybrids/VideoViewViewManager/HybridVideoViewViewManager.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JSurfaceType.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoViewViewManagerSpec.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/SurfaceType.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoViewViewManagerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/SurfaceType.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/SurfaceType.hpp
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
Due: lint, types

feat: bump nitro modules
  bun.lock
  example/ios/Podfile.lock
  example/package.json
  example/patches/react-native-nitro-modules+0.29.8.patch
  packages/drm-plugin/nitrogen/generated/android/ReactNativeVideoDrm+autolinking.cmake
  packages/drm-plugin/nitrogen/generated/android/ReactNativeVideoDrmOnLoad.cpp
  packages/drm-plugin/nitrogen/generated/ios/ReactNativeVideoDrm-Swift-Cxx-Bridge.cpp
  packages/drm-plugin/nitrogen/generated/ios/ReactNativeVideoDrm-Swift-Cxx-Bridge.hpp
  packages/drm-plugin/package.json
  packages/react-native-video/nitrogen/generated/android/ReactNativeVideo+autolinking.cmake
  packages/react-native-video/nitrogen/generated/android/ReactNativeVideoOnLoad.cpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.cpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceFactorySpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/BufferConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/Func_void_std__optional_TextTrack_.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeDrmParams.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeVideoConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/TextTrack.swift
  packages/react-native-video/nitrogen/generated/ios/swift/TimedMetadata.swift
  packages/react-native-video/package.json
Due: none

feat: bump nitro modules (#4720)
  bun.lock
  example/ios/Podfile.lock
  example/package.json
  example/patches/react-native-nitro-modules+0.29.8.patch
  packages/drm-plugin/nitrogen/generated/android/ReactNativeVideoDrm+autolinking.cmake
  packages/drm-plugin/nitrogen/generated/android/ReactNativeVideoDrmOnLoad.cpp
  packages/drm-plugin/nitrogen/generated/ios/ReactNativeVideoDrm-Swift-Cxx-Bridge.cpp
  packages/drm-plugin/nitrogen/generated/ios/ReactNativeVideoDrm-Swift-Cxx-Bridge.hpp
  packages/drm-plugin/package.json
  packages/react-native-video/nitrogen/generated/android/ReactNativeVideo+autolinking.cmake
  packages/react-native-video/nitrogen/generated/android/ReactNativeVideoOnLoad.cpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.cpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceFactorySpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/BufferConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/Func_void_std__optional_TextTrack_.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeDrmParams.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeVideoConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/TextTrack.swift
  packages/react-native-video/nitrogen/generated/ios/swift/TimedMetadata.swift
  packages/react-native-video/package.json
Due: none

Working ios Dz implementation
  examples/bare/ios/Podfile
  examples/bare/ios/Podfile.lock
  examples/bare/package.json
  examples/bare/src/logger.ts
  examples/bare/src/videoLogger.ts
  examples/common/BasicExample.tsx
  ios/RCTVideo.xcodeproj/project.pbxproj.backup
  ios/Video/RCTVideo.swift
  ios/Video/RNDatazoom.m
  ios/Video/RNDatazoom.swift
  react-native-video.podspec
  src/datazoom/Datazoom.ts
Due: lint, types

Dz calling initialializing, creating context and destroying context
  examples/common/BasicExample.tsx
  ios/Video/RCTVideo.swift
  ios/Video/RNDatazoom.swift
Due: lint

chore: release v6.17.0
  CHANGELOG.md
  package.json
Due: none

feat: add notification controls
  example/src/App.tsx
  example/src/types/videoSettings.ts
  packages/react-native-video/android/src/main/java/com/twg/video/core/extensions/VideoPlaybackService+ServiceManagment.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/services/playback/VideoPlaybackService.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/services/playback/VideoPlaybackServiceConnection.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayersource/HybridVideoPlayerSourceFactory.kt
  packages/react-native-video/ios/core/NowPlayingInfoCenterManager.swift
  packages/react-native-video/ios/core/VideoManager.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer+Events.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/ios/hybrids/VideoPlayerSource/HybridVideoPlayerSourceFactory.swift
  packages/react-native-video/ios/view/VideoComponentView.swift
  packages/react-native-video/nitrogen/generated/android/c++/JCustomVideoMetadata.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSourceFactorySpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSourceSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JNativeVideoConfig.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/CustomVideoMetadata.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceFactorySpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/CustomVideoMetadata.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeVideoConfig.swift
  packages/react-native-video/nitrogen/generated/shared/c++/CustomVideoMetadata.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/NativeVideoConfig.hpp
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/types/VideoConfig.ts
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
Due: lint, types

refactor(android): use DefaultMediaNotificationProvider for notification controls
  packages/react-native-video/android/src/main/java/com/twg/video/core/player/MediaItemUtils.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/player/MediaSourceUtils.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/services/playback/CustomMediaNotificationProvider.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/services/playback/VideoPlaybackCallback.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/services/playback/VideoPlaybackService.kt
Due: none

chore: use metadata in example
  example/src/utils/videoSource.ts
Due: lint, types

chore: apply code review
  example/src/utils/videoSource.ts
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayersource/HybridVideoPlayerSourceFactory.kt
  packages/react-native-video/ios/core/NowPlayingInfoCenterManager.swift
Due: lint, types

Added check to disable DZ if needed
  examples/bare/ios/Podfile
  examples/bare/ios/Podfile.lock
  examples/common/BasicExample.tsx
  ios/Video/RNDatazoom.swift
  react-native-video.podspec
Due: lint

Package.json updated
  package.json
Due: none

scripts/dev-android.sh deleted
  scripts/dev-android.sh
Due: none

Removed logger
  examples/bare/src/logger.ts
  examples/bare/src/videoLogger.ts
Due: lint, types

Removed logger in BasicExample file
  examples/common/BasicExample.tsx
Due: lint

Removed toher console calls
  examples/common/BasicExample.tsx
Due: lint

Removed console calls
  src/datazoom/Datazoom.ts
Due: lint, types

feat(android): support flexible page sizes
  packages/react-native-video/android/build.gradle
  packages/react-native-video/android/gradle.properties
Due: none

feat(android): support flexible page sizes (#4726)
  packages/react-native-video/android/build.gradle
  packages/react-native-video/android/gradle.properties
Due: none

chore: update release script
  example/package.json
  package.json
  packages/drm-plugin/package.json
  scripts/release.sh
Due: none

chore: update release script (#4727)
  example/package.json
  package.json
  packages/drm-plugin/package.json
  scripts/release.sh
Due: none

fix: live stream stalls on tvos skyNZ (#461)
  package.json
Due: none

Updated dz version 1.8.0
  examples/bare/ios/Podfile.lock
  examples/common/constants/general.ts
  ios/RCTVideo.xcodeproj/project.pbxproj
  ios/Video/RNDatazoom.swift
  react-native-video.podspec
Due: lint, types

fix: bump doris for hotfix (#462)
  package.json
Due: none

Fix/androidtv play icon (#463)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  android-exoplayer/src/main/res/drawable-television/ic_play_gray.xml
  android-exoplayer/src/main/res/drawable-television/ic_play_white.xml
  package.json
Due: none

chore: rename drm plugin package name
  bun.lock
  docs/docs/player/drm.md
  docs/docs/player/player.md
  example/ios/Podfile.lock
  example/package.json
  example/src/utils/videoSource.ts
  packages/drm-plugin/README.md
  packages/drm-plugin/package.json
Due: lint, types

chore: release 7.0.0-alpha.6
  example/package.json
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
  scripts/release.sh
Due: none

Added mediaTailor SDK and fixed other issues
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/brentvatne/common/api/Source.kt
  android/src/main/java/com/brentvatne/common/react/VideoEventEmitter.kt
  android/src/main/java/com/brentvatne/exoplayer/DatazoomHelper.kt
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/MediaTailorTracker.kt
  android/src/main/java/com/brentvatne/exoplayer/PictureInPictureUtil.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  ios/Video/AudioSessionManager.swift
  ios/Video/RCTVideo.swift
  lib/specs/VideoNativeComponent.d.ts
  lib/types/video.d.ts
  src/Video.tsx
  src/specs/VideoNativeComponent.ts
  src/types/video.ts
Due: lint, types

chore: apply SwiftLint autocorrections
  ios/Video/Features/RCTIMAAdsManager.swift
  ios/Video/RCTVideo.swift
Due: none

chore: apply SwiftLint autocorrections
  examples/react-native-video-plugin-sample/ios/VideoPluginSample.swift
  ios/Video/Features/RCTIMAAdsManager.swift
Due: none

Fixed ato control issues in android and fixed build errors
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  ios/Video/Features/RCTIMAAdsManager.swift
  package.json
Due: none

Fixed live badge issues in android and ads playback issues when content is paused and user seek the video
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  ios/Video/RCTVideo.swift
Due: none

Fixed ad manager reset issue in iOS
  ios/Video/Features/RCTIMAAdsManager.swift
Due: none

Fixed live badge issues in android and ads playback issues when content is paused and user seek the video
  ios/Video/RCTVideo.swift
Due: none

chore: apply SwiftLint autocorrections
  ios/Video/Features/RCTIMAAdsManager.swift
Due: none

Added mediaTailor SDK and fixed other issues
  ios/Video/RCTVideo.swift
Due: none
