Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint-docs, types

lint-docs:
  run: bun run lint

types:
  run: bun typecheck

fix(web): fullscreen targets container, guard double enable, remove unused mimeType
  packages/react-native-video/src/core/VideoPlayer.web.ts
  packages/react-native-video/src/core/types/VideoConfig.ts
  packages/react-native-video/src/core/video-view/VideoView.web.tsx
  packages/react-native-video/src/core/web/MediaSession.ts
Due: types

feat(web): add experimental audio/video track APIs with WebVideoPlayer type
  example/src/utils/videoSource.ts
  packages/react-native-video/src/core/VideoPlayer.web.ts
  packages/react-native-video/src/core/types/AudioTrack.ts
  packages/react-native-video/src/core/types/VideoTrack.ts
  packages/react-native-video/src/core/types/WebVideoPlayer.ts
  packages/react-native-video/src/index.tsx
Due: types

docs: add web support page
  docs/docs/fundamentals/web-support.md
Due: none

fix(web): types
  packages/react-native-video/src/core/hooks/useEvent.ts
  packages/react-native-video/src/core/types/VideoPlayerBase.ts
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/core/video-view/VideoViewProps.ts
Due: types

fix(web): overlay radius
  packages/react-native-video/src/core/video-view/VideoView.web.tsx
Due: types

fix: lint errors, add missing VideoPlayerBase members, fix eslint for web files
  packages/react-native-video/.eslintrc.js
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/VideoPlayer.web.ts
  packages/react-native-video/src/core/events/VideoPlayerEvents.native.ts
  packages/react-native-video/src/core/events/VideoPlayerEvents.web.ts
  packages/react-native-video/src/core/types/EventEmitter.ts
  packages/react-native-video/src/core/utils/sourceUtils.ts
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/core/video-view/VideoView.web.tsx
  packages/react-native-video/src/core/web/MediaSession.ts
  packages/react-native-video/src/core/web/VideoStore.ts
  packages/react-native-video/src/core/web/WebEventEmitter.ts
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
  packages/react-native-video/src/spec/nitro/VideoPlayerEventEmitter.nitro.ts
  packages/react-native-video/src/spec/nitro/VideoPlayerSource.nitro.ts
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
  packages/react-native-video/tsconfig.web.json
Due: types

feat: add disable audio session management (#4829)
  bun.lock
  example/ios/Podfile.lock
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayerFactory.kt
  packages/react-native-video/ios/core/VideoManager.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayerFactory.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerFactorySpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerFactorySpec.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerFactorySpec.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerFactorySpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerFactorySpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerFactorySpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerFactorySpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerFactorySpec.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/types/VideoPlayerBase.ts
  packages/react-native-video/src/core/utils/playerFactory.ts
  packages/react-native-video/src/index.tsx
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
Due: types

docs: update web docs
  docs/docs/fundamentals/web-support.md
Due: none

docs: fix broken links in web support page
  docs/docs/fundamentals/web-support.md
Due: none

fix(web): add WebError type with proper HTML5 MediaError code mapping
  packages/react-native-video/src/core/types/VideoError.ts
  packages/react-native-video/src/core/web/WebEventEmitter.ts
  packages/react-native-video/src/index.tsx
Due: types

refactor: extract WebMediaProxy for unified store/video access
  packages/react-native-video/src/core/VideoPlayer.web.ts
  packages/react-native-video/src/core/web/WebEventEmitter.ts
  packages/react-native-video/src/core/web/WebMediaProxy.ts
Due: types

lint: code
  example/.eslintrc.js
  packages/drm-plugin/src/PluginManager.nitro.ts
Due: types

docs(web): update event note
  docs/docs/fundamentals/web-support.md
  docs/sidebars.ts
Due: lint-docs, types

fix(web): bufferAhead
  packages/react-native-video/src/core/web/WebEventEmitter.ts
  packages/react-native-video/src/core/web/WebMediaProxy.ts
Due: types

refactor: events logic
  packages/react-native-video/src/core/VideoPlayer.web.ts
  packages/react-native-video/src/core/events/VideoPlayerEvents.native.ts
  packages/react-native-video/src/core/events/VideoPlayerEvents.web.ts
  packages/react-native-video/src/core/events/VideoPlayerEventsBase.ts
  packages/react-native-video/src/core/video-view/VideoView.web.tsx
  packages/react-native-video/src/core/video-view/useViewEvents.web.ts
  packages/react-native-video/src/core/web/WebEventEmitter.ts
  packages/react-native-video/src/core/web/webDOMEvents.ts
Due: types

feat: implement missins no-op fn on web
  packages/react-native-video/src/core/utils/playerFactory.web.ts
Due: types

fix(web): types
  packages/react-native-video/src/core/VideoPlayer.web.ts
Due: types

fix(android): duration in seconds
  packages/react-native-video/android/src/main/java/com/twg/video/core/utils/VideoInformationUtils.kt
Due: none

fix: androidtv tts center view null issue (#506)
  package.json
Due: none

docs(seo): add meta titles, descriptions and keywords to all pages
  docs/docs/fundamentals/configuration/with-expo.md
  docs/docs/fundamentals/configuration/without-expo.md
  docs/docs/fundamentals/installation.md
  docs/docs/fundamentals/intro.mdx
  docs/docs/offer.mdx
  docs/docs/player/analytics/manual.md
  docs/docs/player/analytics/simple.md
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/drm-downloading.md
  docs/docs/player/downloading/events-downloading.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/downloading/track-selection.md
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player.md
  docs/docs/player/use-video-player.md
  docs/docs/player/video-player.md
  docs/docs/plugins/ask-for-plugin.md
  docs/docs/plugins/examples.md
  docs/docs/plugins/interface.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
  docs/docs/plugins/use-in-third-party-library.md
  docs/docs/projects.md
  docs/docs/updating.md
  docs/docs/video-view/chapters.md
  docs/docs/video-view/events.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
  docs/docs/video-view/video-view.md
Due: none

docs(seo): configure sitemap, metadata, JSON-LD and enable llms.txt
  docs/docusaurus.config.ts
Due: lint-docs, types

docs(seo): improve homepage title and description
  docs/src/pages/index.tsx
Due: lint-docs, types

docs(seo): add robots.txt with AI crawler rules
  docs/static/robots.txt
Due: none

docs(geo): add curated llms.txt for AI discoverability
  docs/static/llms.txt
Due: none

docs: fix typo baners → banners
  README.md
  docs/static/banners/rnv-banner.png
  docs/static/banners/rnv-pro-player-banner.png
  docs/static/banners/sdk-banner.png
Due: none

docs(geo): generate llms.txt via plugin instead of static file
  docs/docusaurus.config.ts
  docs/static/llms.txt
Due: lint-docs, types

docs: improve seo & geo (#4869)
  README.md
  docs/docs/fundamentals/configuration/with-expo.md
  docs/docs/fundamentals/configuration/without-expo.md
  docs/docs/fundamentals/installation.md
  docs/docs/fundamentals/intro.mdx
  docs/docs/offer.mdx
  docs/docs/player/analytics/manual.md
  docs/docs/player/analytics/simple.md
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/drm-downloading.md
  docs/docs/player/downloading/events-downloading.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/downloading/track-selection.md
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player.md
  docs/docs/player/use-video-player.md
  docs/docs/player/video-player.md
  docs/docs/plugins/ask-for-plugin.md
  docs/docs/plugins/examples.md
  docs/docs/plugins/interface.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
  docs/docs/plugins/use-in-third-party-library.md
  docs/docs/projects.md
  docs/docs/updating.md
  docs/docs/video-view/chapters.md
  docs/docs/video-view/events.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
  docs/docs/video-view/video-view.md
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
  docs/static/banners/rnv-banner.png
  docs/static/banners/rnv-pro-player-banner.png
  docs/static/banners/sdk-banner.png
  docs/static/robots.txt
Due: lint-docs, types

chore: bump doris (#507)
  package.json
Due: none

docs(seo): refine meta titles, sidebar labels and descriptions
  docs/docs/fundamentals/configuration/with-expo.md
  docs/docs/fundamentals/configuration/without-expo.md
  docs/docs/fundamentals/installation.md
  docs/docs/fundamentals/intro.mdx
  docs/docs/offer.mdx
  docs/docs/player/analytics/manual.md
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/drm-downloading.md
  docs/docs/player/downloading/events-downloading.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/downloading/track-selection.md
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player.md
  docs/docs/player/use-video-player.md
  docs/docs/player/video-player.md
  docs/docs/plugins/ask-for-plugin.md
  docs/docs/plugins/examples.md
  docs/docs/plugins/interface.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
  docs/docs/plugins/use-in-third-party-library.md
  docs/docs/projects.md
  docs/docs/updating.md
  docs/docs/video-view/chapters.md
  docs/docs/video-view/events.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
  docs/docs/video-view/video-view.md
Due: none

docs: refine meta titles, sidebar labels and descriptions (#4870)
  docs/docs/fundamentals/configuration/with-expo.md
  docs/docs/fundamentals/configuration/without-expo.md
  docs/docs/fundamentals/installation.md
  docs/docs/fundamentals/intro.mdx
  docs/docs/offer.mdx
  docs/docs/player/analytics/manual.md
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/drm-downloading.md
  docs/docs/player/downloading/events-downloading.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/downloading/track-selection.md
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player.md
  docs/docs/player/use-video-player.md
  docs/docs/player/video-player.md
  docs/docs/plugins/ask-for-plugin.md
  docs/docs/plugins/examples.md
  docs/docs/plugins/interface.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
  docs/docs/plugins/use-in-third-party-library.md
  docs/docs/projects.md
  docs/docs/updating.md
  docs/docs/video-view/chapters.md
  docs/docs/video-view/events.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
  docs/docs/video-view/video-view.md
Due: none

fix(web): notification controls race condition
  packages/react-native-video/src/core/VideoPlayer.web.ts
Due: types

docs(web-support): update seo
  docs/docs/fundamentals/web-support.mdx
Due: none

fix(android): implement native viewType switching in ExoPlayerView
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/res/layout/exo_texture_player_view.xml
Due: none

refactor: use safe call for currentPlayer listener cleanup
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
Due: none

fix: smarter subs issues
  package.json
Due: none

fix: smarter subs issues on tvOS
  ios/Video/PlayerViewProxy.swift
  package.json
Due: none

initial changes i the agp and exo player
  android-exoplayer/build.gradle
  android-exoplayer/consumer-rules.pro
  android-exoplayer/src/main/AndroidManifest.xml
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/DataSourceUtil.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ResizeMode.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  android-exoplayer/src/main/java/com/brentvatne/react/ScalableVideoView.java
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/brentvatne/react/ScalableVideoView.java
Due: none

Update for 0.85
  bun.lock
  package.json
  src/Video.tsx
Due: types

fix formatting
  src/Video.tsx
Due: types

Path conditions:
  lint-docs: any of: **/*.{js,ts,jsx,tsx,css} and ^docs/
  types: any of: *.{js,ts,jsx,tsx}
