Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

fix lint
  android/src/main/java/com/brentvatne/common/react/VideoEventEmitter.kt
Due: none

feat(iod): HLS can load external subtitles.
  examples/common/constants/general.ts
  ios/Video/Features/PlayerItem+HLS.swift
  ios/Video/Features/PlayerItem.swift
  ios/Video/RCTVideo.swift
Due: lint, types

fix(ios): Fixup to use the modified url
  ios/Video/Features/PlayerItem.swift
  ios/Video/RCTVideo.swift
Due: none

fix(android): create custom event class for dispatcher (#4575)
  android/src/main/java/com/brentvatne/common/react/VideoEventEmitter.kt
Due: none

fix: bump dependencies (#19)
  bun.lock
  example/package.json
  packages/react-native-video/package.json
Due: none

chore: bump doris-android to apply datazoom sdk 0.0.10 (#434)
  package.json
Due: none

feat: add additional sample video sources for testing in general.ts and update Podfile.lock for dependency versions
  examples/common/constants/general.ts
  examples/expo/ios/ExpoExample.xcodeproj/project.pbxproj
  examples/expo/ios/Podfile.lock
Due: lint, types

feat: enhance track selection performance by adding change detection for audio and text tracks in BasicExample and update UI components for better track labeling
  examples/common/BasicExample.tsx
  examples/common/components/AudioTracksSelector.tsx
  examples/common/components/TextTracksSelector.tsx
  ios/Video/RCTVideo.swift
Due: lint

fix(ios): allow audio mixing when none of the players are playing
  ios/Video/AudioSessionManager.swift
Due: none

fix(android): catch error when PiP is not supported in activity
  packages/react-native-video/android/src/main/java/com/video/core/utils/PictureInPictureUtils.kt
  packages/react-native-video/android/src/main/java/com/video/view/VideoView.kt
Due: none

fix(ios): cleanup options ternary operator
  ios/Video/AudioSessionManager.swift
Due: none

refactor(android): replace LegacyPlayerControlView with PlayerView's built-in controls in ExoPlayer integration
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/FullScreenPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/PictureInPictureUtil.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

fix(android): stub files are included even if feature is enabled
  bun.lock
  packages/react-native-video/android/build.gradle
  packages/react-native-video/android/src/stubs/dash/androidx/media3/exoplayer/dash/DashMediaSource.kt
  packages/react-native-video/android/src/stubs/dash/androidx/media3/exoplayer/dash/DashUtil.kt
  packages/react-native-video/android/src/stubs/dash/androidx/media3/exoplayer/dash/manifest/AdaptationSet.kt
  packages/react-native-video/android/src/stubs/dash/androidx/media3/exoplayer/dash/manifest/DashManifest.kt
  packages/react-native-video/android/src/stubs/dash/androidx/media3/exoplayer/dash/manifest/Period.kt
  packages/react-native-video/android/src/stubs/dash/androidx/media3/exoplayer/dash/manifest/Representation.kt
  packages/react-native-video/android/src/stubs/hls/androidx/media3/exoplayer/hls/HlsMediaSource.kt
Due: none

feat(android): optimizes video controls for small video players (#17)
  packages/react-native-video/android/src/main/java/com/video/core/fragments/FullscreenVideoFragment.kt
  packages/react-native-video/android/src/main/java/com/video/core/utils/SmallVideoPlayerOptimizer.kt
  packages/react-native-video/android/src/main/java/com/video/view/VideoView.kt
Due: none

fix(ios): Improves playback state and buffering events (#18)
  example/ios/Podfile.lock
  example/patches/react-native-nitro-modules+0.26.2.patch
  example/src/App.tsx
  packages/react-native-video/ios/core/VideoPlayerObserver.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer+Events.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
Due: lint

fix(android): update ExoPlayerView to improve subtitle handling and player control visibility
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

fix(android): enhance ExoPlayerView with improved surface handling, video scaling, and audio track selection logic
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

chore: add debug logging for text track selection and update subtitle button visibility in ExoPlayerView
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

fix: click skip marker button should not pause playback. (#435)
  package.json
Due: none

chore: bump package version
  packages/react-native-video/package.json
Due: none

fix(ci): bump node version
  .github/workflows/publish-release.yml
Due: none

fix(ios): runtime crash
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer+Events.swift
  packages/react-native-video/package.json
Due: none

fix(android): enhance ExoPlayerView with live badge UI and improved surface view management
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/FullScreenPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

chore(infra): update validation script
  .github/scripts/validate.js
Due: lint, types

chore(infra): update validation script (#4586)
  .github/scripts/validate.js
Due: lint, types

fix: lint errors
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/FullScreenPlayerView.kt
  ios/Video/RCTVideo.swift
Due: none

docs: update README (#21)
  .gitattributes
  CONTRIBUTING.md
  LICENSE
  README.md
  bun.lock
  config/.editorconfig
  docs/static/baners/rnv-banner.png
  docs/static/baners/sdk-banner.png
  package.json
  packages/react-native-video/LICENSE
  packages/react-native-video/THIRD-PARTY-LICENSES
  packages/react-native-video/package.json
  scripts/generate-third-party-licenses.js
Due: lint, types

chore: prepare for release
  README.md
  package.json
  packages/react-native-video/package.json
  scripts/release.js
  scripts/release.sh
Due: lint, types

chore: release 7.0.0-alpha.0
  bun.lock
  example/ios/Podfile.lock
  example/package.json
  package.json
  packages/react-native-video/package.json
Due: none

chore: include README in npm package
  packages/react-native-video/package.json
Due: none

feat: add automatic scripts to generate llmstxt files
  docs/static/llms-full.txt
  docs/static/llms.txt
  package.json
  scripts/generate-llms-full.js
  scripts/generate-llms.js
Due: lint, types

fix: improve code readability by adding braces to fix lint errors
  scripts/generate-llms-full.js
  scripts/generate-llms.js
Due: lint, types

chore: update README
  README.md
Due: none

feat(android): implement Picture-in-Picture (PiP) support for multiple videos playback
  packages/react-native-video/android/src/main/java/com/video/core/VideoManager.kt
  packages/react-native-video/android/src/main/java/com/video/core/fragments/PictureInPictureHelperFragment.kt
  packages/react-native-video/android/src/main/java/com/video/core/utils/PictureInPictureUtils.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/video/view/VideoView.kt
Due: none

refactor(android): remove deprecated methods
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.kt
Due: none

feat(android): replace custom VideoView with media3 `PlayerView` (#4581)
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/FullScreenPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/PictureInPictureUtil.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerViewManager.kt
  examples/common/BasicExample.tsx
  examples/common/components/AudioTracksSelector.tsx
  examples/common/components/TextTracksSelector.tsx
  examples/common/constants/general.ts
  examples/expo/ios/ExpoExample.xcodeproj/project.pbxproj
  examples/expo/ios/Podfile.lock
  ios/Video/RCTVideo.swift
Due: lint, types

feat(android): implement Picture-in-Picture (PiP) support for multiple videos playback (#4589)
  packages/react-native-video/android/src/main/java/com/video/core/VideoManager.kt
  packages/react-native-video/android/src/main/java/com/video/core/fragments/PictureInPictureHelperFragment.kt
  packages/react-native-video/android/src/main/java/com/video/core/utils/PictureInPictureUtils.kt
  packages/react-native-video/android/src/main/java/com/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/video/view/VideoView.kt
Due: none

fix(ios): allow audio mixing when none of the players are playing (#4579)
  ios/Video/AudioSessionManager.swift
Due: none

chore: release v6.16.0
  CHANGELOG.md
  package.json
Due: none
