Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint-docs, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "docs/**/*"
      run: bun lint
    lint-docs:
      # using @widlarzgroup/eslint-plugin-docusaurus for CSS variable validation
      root: "docs/"
      glob: "**/*.{js,ts,jsx,tsx,css}"
      run: bun run lint
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

feat(android): support HLS/DASH format in DAI
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  docs/pages/component/ads.md
  examples/expo-dai/App.tsx
  examples/expo-dai/src/components/ControlPanel.tsx
  examples/expo-dai/src/components/VideoSettings.tsx
Due: types

fix: lint formatting issues
  android/src/main/java/com/brentvatne/common/api/AdsProps.kt
  src/Video.tsx
Due: types

[ENG4BCMA-1] [CL] Annotate bb 6.17 so that we can carry changes forward easily
  Bloomberg.md
  android/src/main/java/androidx/media3/exoplayer/ima/ImaServerSideAdInsertionMediaSource.java
  android/src/main/java/androidx/media3/exoplayer/ima/ImaServerSideAdInsertionUriBuilder.java
  android/src/main/java/com/brentvatne/common/api/DaiProps.kt
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/react/VideoManagerModule.kt
  ios/Video/AudioSessionManager.swift
  ios/Video/DataStructures/DaiParams.swift
  ios/Video/Features/RCTIMAAdsManager.swift
  ios/Video/Features/RCTPictureInPicture.swift
  ios/Video/RCTVideo.swift
  src/Video.tsx
  src/types/Ads.ts
  src/types/video.ts
Due: types

[ENG4BCMA] [CL] Allow inline Pip for iOS
  ios/Video/Features/RCTPictureInPicture.swift
Due: none

Feat: Pause Ads For AndroidTv (#482)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerViewManager.java
  package.json
  types/player.ts
Due: types

refactor(android): simplify URI parsing
  android/src/main/java/com/brentvatne/common/api/Source.kt
Due: none

refactor(android): rename backupStreamUri to fallbackStreamUri for consistency
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

refactor: restore deleted comment
  android/src/main/java/com/brentvatne/common/api/Source.kt
Due: none

feat: add Pro Player section to README
  README.md
Due: none

feat: add Pro Player section to README (#4817)
  README.md
Due: none

docs: add banner to Pro Player Section
  README.md
Due: none

docs: add missing banner file
  docs/static/baners/rnv-pro-player-banner.png
Due: none

fix: update url, change banner aspect ratio
  README.md
  docs/static/baners/rnv-pro-player-banner.png
Due: none

docs: redesign Pro Player section layout in README
  README.md
Due: none

docs: add pro player banner to README (#4818)
  README.md
  docs/static/baners/rnv-pro-player-banner.png
Due: none

docs: refactor tabs
  docs/docs/configuration/_category_.json
  docs/docs/fundaments/_category_.json
  docs/docs/fundaments/configuration/expo-plugin.md
  docs/docs/fundaments/configuration/manual.md
  docs/docs/fundaments/installation.md
  docs/docs/fundaments/intro.md
  docs/docs/player/_category_.json
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player-lifecycle.md
  docs/docs/player/player.md
  docs/docs/player/use-video-player.md
  docs/docs/player/video-player.md
  docs/docs/plugins/_category_.json
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/use-in-third-party-library.md
  docs/docs/video-view.md
  docs/docs/video-view/_category_.json
  docs/docs/video-view/events.md
  docs/docs/video-view/intro.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
Due: none

fix: add missing skipAd and skipAdIn translations (#483)
  ios/JSProps/Translations.swift
  ios/Video/PlayerViewProxy.swift
  package.json
  types/translations.ts
Due: types

docs: update README with feature descriptions and image size
  README.md
Due: none

docs: update video-view docs
  docs/docs/video-view/_category_.json
  docs/docs/video-view/chapters.md
  docs/docs/video-view/events.md
  docs/docs/video-view/methods.md
  docs/docs/video-view/props.md
  docs/docs/video-view/video-view.md
Due: none

docs: lowercase tabs
  docs/docs/fundaments/_category_.json
  docs/docs/fundaments/configuration/expo-plugin.md
  docs/docs/fundaments/configuration/manual.md
  docs/docs/fundaments/intro.md
  docs/docs/player/_category_.json
  docs/docs/player/drm.md
  docs/docs/player/events.md
  docs/docs/player/player.md
  docs/docs/player/use-video-player.md
  docs/docs/plugins/_category_.json
Due: none

feat(docs): add downloading section
  docs/docs/player/downloading/_category_.json
  docs/docs/player/downloading/downloading.md
  docs/docs/player/downloading/drm-downloading.md
  docs/docs/player/downloading/events.md
  docs/docs/player/downloading/getting-started.md
  docs/docs/player/downloading/track-selection.md
Due: none

docs: update sidebar type
  docs/sidebars.ts
Due: lint-docs, types

docs: update tab heading
  docs/docs/player/downloading/downloading.md
Due: none

docs: add title to fundaments
  docs/docs/fundaments/installation.md
  docs/docs/fundaments/intro.md
Due: none

docs: lowercase plugin
  docs/docs/plugins/examples.md
  docs/docs/plugins/interface.md
  docs/docs/plugins/plugins.mdx
  docs/docs/plugins/registry.md
  docs/docs/plugins/use-in-third-party-library.md
Due: none

docs(sidebar): remove link to offline sdk
  docs/sidebars.ts
Due: lint-docs, types

docs: add `ads` tab
  bun.lock
  docs/docs/player/ads/_category_.json
  docs/docs/player/ads/manual.md
  docs/docusaurus.config.ts
  docs/package.json
Due: lint-docs, types

chore: add `build` to eslint ignore
  config/.eslintrc.js
Due: types

feat: add streamType field
  android/src/main/java/com/brentvatne/common/api/AdsProps.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  ios/Video/DataStructures/AdParams.swift
  ios/Video/Features/RCTIMAAdsManager.swift
  ios/Video/RCTVideo.swift
  src/Video.tsx
  src/specs/VideoNativeComponent.ts
  src/types/video.ts
Due: types

docs: remove theme mermaid
  bun.lock
  docs/docs/player/ads/manual.md
  docs/docusaurus.config.ts
  docs/package.json
Due: lint-docs, types

refactor: update deploy values
  docs/docusaurus.config.ts
Due: lint-docs, types

refactor: simplify DAI config normalization
  src/Video.tsx
Due: types

refactor: rename type value from dai to ssai
  android/src/main/java/com/brentvatne/common/api/AdsProps.kt
  ios/Video/DataStructures/AdParams.swift
  src/Video.tsx
  src/types/video.ts
Due: types

docs: replace DAI terminology with SSAI
  docs/pages/component/ads.md
  docs/pages/component/props.mdx
Due: none

docs: change ssai desc
  docs/pages/component/ads.md
Due: none

fix(ios): conditional background playback for DAI based on PiP settings
  ios/Video/Features/RCTIMAAdsManager.swift
  ios/Video/RCTVideo.swift
Due: none

docs: remove unnecessary desc
  ios/Video/RCTVideo.swift
Due: none

docs: remove gh issue from docs
  android/src/main/java/com/brentvatne/common/api/AdsProps.kt
  docs/pages/component/ads.md
Due: none
