Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint

types:
  run: bun typecheck

feat: add buffer config
  packages/react-native-video/android/src/main/java/com/twg/video/core/player/MediaItemUtils.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayersource/HybridVideoPlayerSourceFactory.kt
  packages/react-native-video/ios/core/Extensions/AVPlayerItem+setBufferConfig.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/ios/hybrids/VideoPlayerSource/HybridVideoPlayerSourceFactory.swift
  packages/react-native-video/nitrogen/generated/android/c++/JBufferConfig.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSourceFactorySpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSourceSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JLivePlaybackParams.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JNativeVideoConfig.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JResolution.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/BufferConfig.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/LivePlaybackParams.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/Resolution.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceFactorySpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/BufferConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/LivePlaybackParams.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeVideoConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/Resolution.swift
  packages/react-native-video/nitrogen/generated/shared/c++/BufferConfig.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/LivePlaybackParams.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/NativeVideoConfig.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/Resolution.hpp
  packages/react-native-video/src/core/types/BufferConfig.ts
  packages/react-native-video/src/core/types/VideoConfig.ts
Due: lint, types

docs: document buffer config
  docs/docs/player/player.md
Due: none

fix jsdocs
  packages/react-native-video/src/core/types/BufferConfig.ts
Due: lint, types

feat: add buffer config (#4692)
  docs/docs/player/player.md
  packages/react-native-video/android/src/main/java/com/twg/video/core/player/MediaItemUtils.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayersource/HybridVideoPlayerSourceFactory.kt
  packages/react-native-video/ios/core/Extensions/AVPlayerItem+setBufferConfig.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/ios/hybrids/VideoPlayerSource/HybridVideoPlayerSourceFactory.swift
  packages/react-native-video/nitrogen/generated/android/c++/JBufferConfig.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSourceFactorySpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSourceSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JLivePlaybackParams.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JNativeVideoConfig.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JResolution.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/BufferConfig.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/LivePlaybackParams.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/Resolution.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Bridge.hpp
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceFactorySpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSourceSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/BufferConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/LivePlaybackParams.swift
  packages/react-native-video/nitrogen/generated/ios/swift/NativeVideoConfig.swift
  packages/react-native-video/nitrogen/generated/ios/swift/Resolution.swift
  packages/react-native-video/nitrogen/generated/shared/c++/BufferConfig.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/LivePlaybackParams.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/NativeVideoConfig.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/Resolution.hpp
  packages/react-native-video/src/core/types/BufferConfig.ts
  packages/react-native-video/src/core/types/VideoConfig.ts
Due: lint, types

Fix/doris 3187 disable remote control playpause (#446)
  ios/JSProps/JSProps.swift
  ios/Video/PlayerViewProxy.swift
  ios/Video/RCTVideoManager.m
  package.json
  types/player.ts
Due: lint, types

bugfix: [BUG]: iOS player controls does not show after ads completed https://github.com/TheWidlarzGroup/react-native-video/issues/4694
  ios/Video/Features/RCTIMAAdsManager.swift
Due: none

Feat/tv controls 2.0 (#447)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerViewManager.java
  ios/JSProps/Source.swift
  ios/JSProps/Translations.swift
  ios/Video/PlayerViewProxy.swift
  package.json
  types/source.ts
  types/translations.ts
Due: lint, types

Fix/linter (#448)
  Video.tsx
  package.json
Due: lint

fix: focus issues on tvOS (#449)
  package.json
Due: none

fix: missing isPlayPauseEnabled property for tvos (#451)
  ios/Video/NewPlayerView.swift
  package.json
Due: none

fix: tracks policy not applied on tvOS (#452)
  package.json
Due: none

fix: exoplayer setuseController initial setup, depending on the control properties
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

fix: android control option is not work when init video (#4698)
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

feat: add `keepScreenAwake` prop
  docs/docs/video-view.md
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
  packages/react-native-video/ios/hybrids/VideoViewViewManager/HybridVideoViewViewManager.swift
  packages/react-native-video/ios/view/VideoComponentView.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoViewViewManagerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoViewViewManagerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
Due: lint, types

chore: fix typo
  packages/react-native-video/ios/view/VideoComponentView.swift
Due: none

feat: add `keepScreenAwake` prop (#4700)
  docs/docs/video-view.md
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
  packages/react-native-video/ios/hybrids/VideoViewViewManager/HybridVideoViewViewManager.swift
  packages/react-native-video/ios/view/VideoComponentView.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoViewViewManagerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoViewViewManagerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
Due: lint, types

fix/skipmarker-event-android (#450)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  package.json
Due: none

AndroidTv support 'isPlayPauseEnabled' param (#453)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerViewManager.java
  package.json
Due: none

chore: bump doris-android to 5.2.5 (#454)
  package.json
Due: none

Chore/bump doris android (#455)
  package.json
Due: none

Fix/skip disabled android (#456)
  package.json
Due: none

fix: player controls ui fix for progressive seek (#457)
  package.json
Due: none

Chore/remove patches in dice tv (#458)
  package.json
Due: none

fix(android): pip crash when entering fullscreen
  packages/react-native-video/android/src/main/java/com/twg/video/core/fragments/FullscreenVideoFragment.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/fragments/PictureInPictureHelperFragment.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
Due: none

chore: apply code review
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
Due: none

fix(android): pip crash when entering fullscreen (#4706)
  packages/react-native-video/android/src/main/java/com/twg/video/core/fragments/FullscreenVideoFragment.kt
  packages/react-native-video/android/src/main/java/com/twg/video/core/fragments/PictureInPictureHelperFragment.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
Due: none

Fix/androidtv disable media control (#459)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/VideoEventEmitter.java
  package.json
Due: none

Android script
  package.json
  scripts/dev-android.sh
Due: none

Rework event handler to use add/remove styyle
  docs/docs/events/events.md
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/VideoPlayerEvents.ts
  packages/react-native-video/src/core/hooks/useEvent.ts
  packages/react-native-video/src/core/types/Events.ts
Due: lint, types

SDK initialisation for android
  android/src/main/java/com/brentvatne/react/RNDatazoomModule.kt
  android/src/main/java/com/brentvatne/react/ReactVideoPackage.kt
  examples/common/BasicExample.tsx
  ios/RNDatazoom.m
  ios/RNDatazoom.swift
  src/datazoom/Datazoom.ts
  src/index.ts
Due: lint, types

Player media3 player initialised
  android/build.gradle
  android/src/main/java/com/brentvatne/datazoom/DatazoomManager.kt
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/react/RNDatazoomModule.kt
  examples/common/BasicExample.tsx
Due: lint

fix(AudioSessionManager.swift): notification control hide after setting paused={true} to player
  ios/Video/AudioSessionManager.swift
Due: none

chore(iOS): swiftformat --verbose .
  ios/Video/Features/RCTPictureInPicture.swift
  ios/Video/NowPlayingInfoCenterManager.swift
Due: none

Player context fix
  android/src/main/java/com/brentvatne/datazoom/DatazoomManager.kt
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

chore(ci/build-ios): change target iPhone from 14 to 16
  .github/workflows/build-ios.yml
Due: none

refactor: event handler to use add/remove style (#4708)
  docs/docs/events/events.md
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/VideoPlayerEvents.ts
  packages/react-native-video/src/core/hooks/useEvent.ts
  packages/react-native-video/src/core/types/Events.ts
Due: lint, types

chore: cleanup events code
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/core/VideoPlayerEvents.ts
  packages/react-native-video/src/core/hooks/useEvent.ts
  packages/react-native-video/src/core/types/Events.ts
Due: lint, types

chore: release 7.0.0-alpha.5
  example/package.json
  package.json
  packages/react-native-video/package.json
Due: none

chore: bump doris-android (#460)
  package.json
Due: none

feat(android): add surface type prop
  bun.lock
  example/ios/Podfile.lock
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoviewviewmanager/HybridVideoViewViewManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/view/VideoView.kt
  packages/react-native-video/android/src/main/res/layout/player_view_surface.xml
  packages/react-native-video/android/src/main/res/layout/player_view_texture.xml
  packages/react-native-video/ios/hybrids/VideoViewViewManager/HybridVideoViewViewManager.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/c++/JSurfaceType.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoViewViewManagerSpec.kt
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/SurfaceType.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoViewViewManagerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoViewViewManagerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/ios/swift/SurfaceType.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoViewViewManagerSpec.hpp
  packages/react-native-video/nitrogen/generated/shared/c++/SurfaceType.hpp
  packages/react-native-video/src/core/video-view/VideoView.tsx
  packages/react-native-video/src/spec/nitro/VideoViewViewManager.nitro.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
