Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint

types:
  run: bun typecheck

feat(ios): allow to side load subtitles when playing hls stream
  bun.lock
  example/ios/Podfile.lock
  packages/react-native-video/ios/core/Extensions/AVPlayerItem+externalSubtitles.swift
  packages/react-native-video/ios/core/HLSSubtitleInjector.swift
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
  packages/react-native-video/ios/core/Utils/HLSManifestParser.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/.gitattributes
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerEventEmitterSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JNativeExternalSubtitle.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/NativeExternalSubtitle.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/NativeExternalSubtitle.swift
  packages/react-native-video/nitrogen/generated/shared/c++/NativeExternalSubtitle.hpp
  packages/react-native-video/src/core/types/VideoConfig.ts
  packages/react-native-video/src/core/utils/sourceFactory.ts
Due: lint, types

fix(ios): `getAssetInformationAsync` does not provide the video height/width for hls streams
  packages/react-native-video/ios/core/Extensions/AVURLAsset+getAssetInformation.swift
Due: none

chore: apply code review changes
  packages/react-native-video/ios/core/HLSSubtitleInjector.swift
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
Due: none

chore: fix typos
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
Due: none

fix: add invalid track url error
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
  packages/react-native-video/ios/core/VideoError.swift
Due: none

fix: modify already existing subtitle groups in manifest
  example/src/App.tsx
  packages/react-native-video/ios/core/HLSSubtitleInjector.swift
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
Due: lint

fix(android): text track index repetition
  packages/react-native-video/android/src/main/java/com/video/core/utils/TextTrackUtils.kt
Due: none

fix: formatting in package.json
  examples/bare/android/gradle/wrapper/gradle-wrapper.properties
Due: none

feat(ios): allow to side load subtitles when playing hls stream (#4593)
  bun.lock
  example/ios/Podfile.lock
  example/src/App.tsx
  packages/react-native-video/android/src/main/java/com/video/core/utils/TextTrackUtils.kt
  packages/react-native-video/ios/core/Extensions/AVPlayerItem+externalSubtitles.swift
  packages/react-native-video/ios/core/Extensions/AVURLAsset+getAssetInformation.swift
  packages/react-native-video/ios/core/HLSSubtitleInjector.swift
  packages/react-native-video/ios/core/Utils/ExternalSubtitlesUtils.swift
  packages/react-native-video/ios/core/Utils/HLSManifestParser.swift
  packages/react-native-video/ios/core/VideoError.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/.gitattributes
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerEventEmitterSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoViewViewManagerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JNativeExternalSubtitle.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/NativeExternalSubtitle.kt
  packages/react-native-video/nitrogen/generated/ios/ReactNativeVideo-Swift-Cxx-Umbrella.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/NativeExternalSubtitle.swift
  packages/react-native-video/nitrogen/generated/shared/c++/NativeExternalSubtitle.hpp
  packages/react-native-video/src/core/types/VideoConfig.ts
  packages/react-native-video/src/core/utils/sourceFactory.ts
Due: lint, types

fix(android): improve resize mode handling in ExoPlayerView
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
Due: none

refactor(android): clean up ExoPlayerView by running ktlint
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
Due: none

chore: release 7.0.0-alpha.1
  example/package.json
  package.json
  packages/react-native-video/package.json
Due: none

chore: update release-it config
  packages/react-native-video/package.json
Due: none

fix(android)/aspect-ratio (#4594)
  android/src/main/java/com/brentvatne/exoplayer/ExoPlayerView.kt
Due: none

chore: release v6.16.1
  CHANGELOG.md
  package.json
Due: none

fix(RCTVideo.swift): add audiovisualBackgroundPlaybackPolicy when playInBackground is true for iOS 15.0+
  ios/Video/RCTVideo.swift
Due: none

fix: replace `getViewManagerConfig` with `hasViewManagerConfig`
  packages/react-native-video/src/core/video-view/NativeVideoView.tsx
Due: lint

chore: update bun.lock
  bun.lock
Due: none

fix(ios): add audiovisualBackgroundPlaybackPolicy (#4570)
  ios/Video/RCTVideo.swift
Due: none

fix: component linking method (#4601)
  bun.lock
  packages/react-native-video/src/core/video-view/NativeVideoView.tsx
Due: lint

chore: lint
  docs/.gitignore
  docs/static/llms-full.txt
  docs/static/llms.txt
  package.json
Due: none

docs: build llms.txt on deploy
  .github/workflows/deploy-docs.yml
  .github/workflows/test-build-docs.yml
Due: none

chore: fix llms.txt folder
  docs/.gitignore
  scripts/generate-llms-full.js
  scripts/generate-llms.js
Due: lint, types

fix: include only docs pages in llms full
  scripts/generate-llms-full.js
Due: lint, types

chore: fix gh actions script
  .github/workflows/deploy-docs.yml
  .github/workflows/test-build-docs.yml
Due: none

fix(ci): bump node version
  .github/actions/setup-node/action.yml
Due: none

docs: Add `llms.txt` and `llms-full.txt` (#4603)
  .github/actions/setup-node/action.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/test-build-docs.yml
  docs/.gitignore
  examples/bare/android/gradle/wrapper/gradle-wrapper.properties
  package.json
  scripts/generate-llms-full.js
  scripts/generate-llms.js
Due: lint, types

docs: update README
  README.md
Due: none

docs: enable v4 & faster
  bun.lock
  docs/docusaurus.config.ts
  docs/package.json
Due: lint, types

docs: add llms txt autogen
  bun.lock
  docs/docs/react-native-video/api-reference/classes/VideoComponentError.md
  docs/docs/react-native-video/api-reference/classes/VideoError.md
  docs/docs/react-native-video/api-reference/classes/VideoPlayer.md
  docs/docs/react-native-video/api-reference/classes/VideoRuntimeError.md
  docs/docs/react-native-video/api-reference/functions/useEvent.md
  docs/docs/react-native-video/api-reference/functions/useVideoPlayer.md
  docs/docs/react-native-video/api-reference/interfaces/BandwidthData.md
  docs/docs/react-native-video/api-reference/interfaces/TextTrack.md
  docs/docs/react-native-video/api-reference/interfaces/TimedMetadata.md
  docs/docs/react-native-video/api-reference/interfaces/VideoPlayerEvents.md
  docs/docs/react-native-video/api-reference/interfaces/VideoViewEvents.md
  docs/docs/react-native-video/api-reference/interfaces/VideoViewProps.md
  docs/docs/react-native-video/api-reference/interfaces/VideoViewRef.md
  docs/docs/react-native-video/api-reference/interfaces/onLoadData.md
  docs/docs/react-native-video/api-reference/interfaces/onLoadStartData.md
  docs/docs/react-native-video/api-reference/interfaces/onPlaybackStateChangeData.md
  docs/docs/react-native-video/api-reference/interfaces/onProgressData.md
  docs/docs/react-native-video/api-reference/type-aliases/IgnoreSilentSwitchMode.md
  docs/docs/react-native-video/api-reference/type-aliases/LibraryError.md
  docs/docs/react-native-video/api-reference/type-aliases/MixAudioMode.md
  docs/docs/react-native-video/api-reference/type-aliases/PlayerError.md
  docs/docs/react-native-video/api-reference/type-aliases/ResizeMode.md
  docs/docs/react-native-video/api-reference/type-aliases/SourceError.md
  docs/docs/react-native-video/api-reference/type-aliases/SourceType.md
  docs/docs/react-native-video/api-reference/type-aliases/TimedMetadataObject.md
  docs/docs/react-native-video/api-reference/type-aliases/UnknownError.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoConfig.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoErrorCode.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoPlayerStatus.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoSource.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoViewError.md
  docs/docs/react-native-video/api-reference/variables/VideoView.md
  docs/docusaurus.config.ts
  docs/package.json
Due: lint, types

chore: ignore auto generate files in docs
  docs/.gitignore
  docs/docs/react-native-video/api-reference/classes/VideoComponentError.md
  docs/docs/react-native-video/api-reference/classes/VideoError.md
  docs/docs/react-native-video/api-reference/classes/VideoPlayer.md
  docs/docs/react-native-video/api-reference/classes/VideoRuntimeError.md
  docs/docs/react-native-video/api-reference/functions/useEvent.md
  docs/docs/react-native-video/api-reference/functions/useVideoPlayer.md
  docs/docs/react-native-video/api-reference/index.md
  docs/docs/react-native-video/api-reference/interfaces/BandwidthData.md
  docs/docs/react-native-video/api-reference/interfaces/TextTrack.md
  docs/docs/react-native-video/api-reference/interfaces/TimedMetadata.md
  docs/docs/react-native-video/api-reference/interfaces/VideoPlayerEvents.md
  docs/docs/react-native-video/api-reference/interfaces/VideoViewEvents.md
  docs/docs/react-native-video/api-reference/interfaces/VideoViewProps.md
  docs/docs/react-native-video/api-reference/interfaces/VideoViewRef.md
  docs/docs/react-native-video/api-reference/interfaces/onLoadData.md
  docs/docs/react-native-video/api-reference/interfaces/onLoadStartData.md
  docs/docs/react-native-video/api-reference/interfaces/onPlaybackStateChangeData.md
  docs/docs/react-native-video/api-reference/interfaces/onProgressData.md
  docs/docs/react-native-video/api-reference/type-aliases/IgnoreSilentSwitchMode.md
  docs/docs/react-native-video/api-reference/type-aliases/LibraryError.md
  docs/docs/react-native-video/api-reference/type-aliases/MixAudioMode.md
  docs/docs/react-native-video/api-reference/type-aliases/PlayerError.md
  docs/docs/react-native-video/api-reference/type-aliases/ResizeMode.md
  docs/docs/react-native-video/api-reference/type-aliases/SourceError.md
  docs/docs/react-native-video/api-reference/type-aliases/SourceType.md
  docs/docs/react-native-video/api-reference/type-aliases/TimedMetadataObject.md
  docs/docs/react-native-video/api-reference/type-aliases/UnknownError.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoConfig.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoErrorCode.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoPlayerStatus.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoSource.md
  docs/docs/react-native-video/api-reference/type-aliases/VideoViewError.md
  docs/docs/react-native-video/api-reference/variables/VideoView.md
Due: none

docs: fix llms txt paths
  docs/docusaurus.config.ts
Due: lint, types

fix: codegen config
  example/ios/Podfile.lock
  packages/react-native-video/android/build.gradle
  packages/react-native-video/android/src/main/java/com/video/react/VideoViewViewManager.kt
  packages/react-native-video/android/src/paper/java/com/facebook/react/viewmanagers/RNCVideoViewManagerDelegate.java
  packages/react-native-video/android/src/paper/java/com/facebook/react/viewmanagers/RNCVideoViewManagerInterface.java
  packages/react-native-video/ios/view/fabric/RCTVideoViewComponentView.h
  packages/react-native-video/ios/view/fabric/RCTVideoViewComponentView.mm
  packages/react-native-video/ios/view/fabric/RCTVideoViewViewManager.mm
  packages/react-native-video/ios/view/paper/RCTVideoViewComponentView.h
  packages/react-native-video/ios/view/paper/RCTVideoViewComponentView.mm
  packages/react-native-video/ios/view/paper/RCTVideoViewViewManager.m
  packages/react-native-video/ios/view/paper/VideoViewManager.m
  packages/react-native-video/package.json
  packages/react-native-video/react-native.config.js
  packages/react-native-video/src/spec/fabric/VideoViewNativeComponent.ts
Due: lint, types

chore: code cleanup
  packages/react-native-video/ios/view/fabric/RCTVideoViewComponentView.mm
Due: none

docs: update docs [wip]
  docs/.gitignore
  docs/docs/configuration/_category_.json
  docs/docs/events/events.md
  docs/docs/intro.md
  docs/docs/player/player.md
  docs/docs/updating.md
  docs/docs/video-view.md
Due: none

chore: ignore auto generate files in docs
  docs/docs/api-reference/classes/VideoComponentError.md
  docs/docs/api-reference/classes/VideoError.md
  docs/docs/api-reference/classes/VideoPlayer.md
  docs/docs/api-reference/classes/VideoRuntimeError.md
  docs/docs/api-reference/functions/useEvent.md
  docs/docs/api-reference/functions/useVideoPlayer.md
  docs/docs/api-reference/index.md
  docs/docs/api-reference/interfaces/BandwidthData.md
  docs/docs/api-reference/interfaces/TextTrack.md
  docs/docs/api-reference/interfaces/TimedMetadata.md
  docs/docs/api-reference/interfaces/VideoPlayerEvents.md
  docs/docs/api-reference/interfaces/VideoViewEvents.md
  docs/docs/api-reference/interfaces/VideoViewProps.md
  docs/docs/api-reference/interfaces/VideoViewRef.md
  docs/docs/api-reference/interfaces/onLoadData.md
  docs/docs/api-reference/interfaces/onLoadStartData.md
  docs/docs/api-reference/interfaces/onPlaybackStateChangeData.md
  docs/docs/api-reference/interfaces/onProgressData.md
  docs/docs/api-reference/type-aliases/IgnoreSilentSwitchMode.md
  docs/docs/api-reference/type-aliases/LibraryError.md
  docs/docs/api-reference/type-aliases/MixAudioMode.md
  docs/docs/api-reference/type-aliases/PlayerError.md
  docs/docs/api-reference/type-aliases/ResizeMode.md
  docs/docs/api-reference/type-aliases/SourceError.md
  docs/docs/api-reference/type-aliases/SourceType.md
  docs/docs/api-reference/type-aliases/TimedMetadataObject.md
  docs/docs/api-reference/type-aliases/UnknownError.md
  docs/docs/api-reference/type-aliases/VideoConfig.md
  docs/docs/api-reference/type-aliases/VideoErrorCode.md
  docs/docs/api-reference/type-aliases/VideoPlayerStatus.md
  docs/docs/api-reference/type-aliases/VideoSource.md
  docs/docs/api-reference/type-aliases/VideoViewError.md
  docs/docs/api-reference/variables/VideoView.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
