Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

refactor: don't use nitro dispose (#4802)
  bun.lock
  example/ios/Podfile.lock
  packages/drm-plugin/nitrogen/generated/android/c++/JHybridPluginManagerSpec.cpp
  packages/drm-plugin/nitrogen/generated/android/c++/JHybridPluginManagerSpec.hpp
  packages/drm-plugin/nitrogen/generated/android/kotlin/com/margelo/nitro/videodrm/HybridPluginManagerSpec.kt
  packages/drm-plugin/nitrogen/generated/ios/ReactNativeVideoDrm-Swift-Cxx-Bridge.cpp
  packages/drm-plugin/nitrogen/generated/ios/c++/HybridPluginManagerSpecSwift.hpp
  packages/drm-plugin/nitrogen/generated/ios/swift/HybridPluginManagerSpec.swift
  packages/drm-plugin/nitrogen/generated/ios/swift/HybridPluginManagerSpec_cxx.swift
  packages/react-native-video/android/src/main/java/com/twg/video/core/VideoManager.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayer/HybridVideoPlayer.kt
  packages/react-native-video/android/src/main/java/com/twg/video/hybrids/videoplayereventemitter/HybridVideoPlayerEventEmitter.kt
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer+Events.swift
  packages/react-native-video/ios/hybrids/VideoPlayer/HybridVideoPlayer.swift
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/android/c++/JHybridVideoPlayerSpec.hpp
  packages/react-native-video/nitrogen/generated/android/kotlin/com/margelo/nitro/video/HybridVideoPlayerSpec.kt
  packages/react-native-video/nitrogen/generated/ios/c++/HybridVideoPlayerSpecSwift.hpp
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec.swift
  packages/react-native-video/nitrogen/generated/ios/swift/HybridVideoPlayerSpec_cxx.swift
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.cpp
  packages/react-native-video/nitrogen/generated/shared/c++/HybridVideoPlayerSpec.hpp
  packages/react-native-video/src/core/VideoPlayer.ts
  packages/react-native-video/src/spec/nitro/VideoPlayer.nitro.ts
Due: lint, types

chore: release 7.0.0-beta.2
  example/package.json
  package.json
  packages/drm-plugin/package.json
  packages/react-native-video/package.json
Due: none

[ENG4BCMA-5842] [CL] [iOS] showNotificationControls on DAI path
  ios/Video/AudioSessionManager.swift
  ios/Video/Features/RCTPictureInPicture.swift
  ios/Video/RCTVideo.swift
Due: none

fix subtitle display name in android tv. (#480)
  package.json
Due: none

docs: sync with branches changes
  .github/workflows/deploy-docs.yml
  .github/workflows/test-docs-build.yml
  README.md
  bun.lock
  docs/README.md
  docs/sidebars.ts
  docs/versioned_sidebars/version-6.x-sidebars.json
Due: lint, types

docs: add twg theme
  bun.lock
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/components/TWGBadge/TWGBadge.module.css
  docs/src/components/TWGBadge/TWGBadge.tsx
  docs/src/theme/DocItem/Footer/index.tsx
  docs/src/theme/TOC/index.tsx
  docs/src/theme/TOC/styles.module.css
Due: lint, types

docs: import theme css
  docs/src/css/custom.css
Due: none

docs: restyle (#4803)
  bun.lock
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/components/TWGBadge/TWGBadge.module.css
  docs/src/components/TWGBadge/TWGBadge.tsx
  docs/src/css/custom.css
  docs/src/theme/DocItem/Footer/index.tsx
  docs/src/theme/TOC/index.tsx
  docs/src/theme/TOC/styles.module.css
Due: lint, types

docs: add eslint
  bun.lock
  docs/.eslintrc.js
  docs/docusaurus.config.ts
  docs/package.json
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/PlatformsList/PlatformsList.tsx
  docs/src/pages/index.tsx
Due: lint, types

chore: remove @eslint/css
  bun.lock
  docs/package.json
Due: none

feat(docs): add custom eslint rule for css variables
  bun.lock
  docs/.eslintrc.js
  docs/package.json
  docs/src/components/PlatformsList/PlatformsList.module.css
  docs/src/css/custom.css
Due: lint, types

test: test rule
  docs/src/components/HomepageFeatures/styles.module.css
Due: none

ci: check lint on css changes in docs
  lefthook.yml
Due: none

refactor: clean test
  docs/src/components/HomepageFeatures/styles.module.css
Due: none

ci: update lefthook configuration
  lefthook.yml
Due: none

docs: add eslint (#4805)
  bun.lock
  docs/.eslintrc.js
  docs/docusaurus.config.ts
  docs/package.json
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/PlatformsList/PlatformsList.module.css
  docs/src/components/PlatformsList/PlatformsList.tsx
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  lefthook.yml
Due: lint, types

docs: update landing page
  docs/src/components/Homepage/Enterprise/Enterprise.module.css
  docs/src/components/Homepage/Enterprise/Enterprise.tsx
  docs/src/components/Homepage/Enterprise/FeatureCard/FeatureCard.module.css
  docs/src/components/Homepage/Enterprise/FeatureCard/FeatureCard.tsx
  docs/src/components/Homepage/Features/Feature/Feature.module.css
  docs/src/components/Homepage/Features/Feature/Feature.tsx
  docs/src/components/Homepage/Features/Features.module.css
  docs/src/components/Homepage/Features/Features.tsx
  docs/src/components/Homepage/Hero/Badge/Badge.module.css
  docs/src/components/Homepage/Hero/Badge/Badge.tsx
  docs/src/components/Homepage/Hero/Buttons/Buttons.module.css
  docs/src/components/Homepage/Hero/Buttons/Buttons.tsx
  docs/src/components/Homepage/Hero/Hero.module.css
  docs/src/components/Homepage/Hero/Hero.tsx
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.module.css
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.tsx
  docs/src/components/Homepage/Hero/Stats/Stats.module.css
  docs/src/components/Homepage/Hero/Stats/Stats.tsx
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/pages/index.tsx
  docs/static/img/arrow-icon.svg
  docs/static/img/download-icon.svg
  docs/static/img/drm-content-icon.svg
  docs/static/img/github-icon.svg
  docs/static/img/homepage/enterprise/layers-icon.svg
  docs/static/img/homepage/enterprise/lightning-icon.svg
  docs/static/img/homepage/enterprise/shield-icon.svg
  docs/static/img/homepage/features/performance-icon.svg
  docs/static/img/homepage/features/platforms-icon.svg
  docs/static/img/homepage/features/plugins-icon.svg
  docs/static/img/homepage/features/reactjs-icon.svg
  docs/static/img/homepage/features/shield-icon.svg
  docs/static/img/homepage/features/subtitles-icon.svg
  docs/static/img/reactjs-icon.svg
Due: lint

refactor: clean comment
  docs/src/components/Homepage/Enterprise/Enterprise.module.css
Due: none

refactor: update alt tags
  docs/docusaurus.config.ts
  docs/src/components/Homepage/Hero/Hero.tsx
Due: lint, types

refactor: revert default version to v6
  docs/src/components/Homepage/Hero/Hero.tsx
Due: lint

docs: add variable for dark color
  docs/src/components/Homepage/Hero/Buttons/Buttons.module.css
  docs/src/css/custom.css
Due: none

refactor: remove rel & target prop from link - it is handled automatically
  docs/src/components/Homepage/Enterprise/Enterprise.tsx
Due: lint

refactor: update animations to use motion
  bun.lock
  docs/package.json
  docs/src/components/Homepage/Hero/Badge/Badge.module.css
  docs/src/components/Homepage/Hero/Badge/Badge.tsx
  docs/src/components/Homepage/Hero/Buttons/Buttons.module.css
  docs/src/components/Homepage/Hero/Buttons/Buttons.tsx
  docs/src/components/Homepage/Hero/Hero.module.css
  docs/src/components/Homepage/Hero/Hero.tsx
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.module.css
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.tsx
  docs/src/components/Homepage/Hero/Stats/Stats.module.css
  docs/src/components/Homepage/Hero/Stats/Stats.tsx
Due: lint

refactor: clean buttons styles
  docs/src/components/Homepage/Hero/Buttons/Buttons.module.css
Due: none

refactor: remove unnecssary types annotations
  docs/src/components/Homepage/Enterprise/Enterprise.tsx
  docs/src/components/Homepage/Enterprise/FeatureCard/FeatureCard.tsx
  docs/src/components/Homepage/Features/Feature/Feature.tsx
  docs/src/components/Homepage/Features/Features.tsx
  docs/src/components/Homepage/Hero/Badge/Badge.tsx
  docs/src/components/Homepage/Hero/Buttons/Buttons.tsx
  docs/src/components/Homepage/Hero/Hero.tsx
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.tsx
  docs/src/components/Homepage/Hero/Stats/Stats.tsx
  docs/src/pages/index.tsx
Due: lint

refactor: move blink animation to motion
  docs/src/components/Homepage/Hero/Badge/Badge.module.css
  docs/src/components/Homepage/Hero/Badge/Badge.tsx
Due: lint

chore: update lefthook configuration
  lefthook.yml
Due: none

added chnages for win32 turbomodule windows app
  examples/react-native-video-plugin-sample/App.js
  examples/react-native-video-plugin-sample/README.md
  examples/react-native-video-plugin-sample/babel.config.js
  examples/react-native-video-plugin-sample/index.js
  examples/react-native-video-plugin-sample/metro.config.js
  examples/react-native-video-plugin-sample/package.json
  examples/react-native-video-plugin-sample/react-native.config.js
  examples/react-native-video-plugin-sample/windows/.gitignore
  examples/react-native-video-plugin-sample/windows/README.md
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/ReactPackageProvider.cpp
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/ReactPackageProvider.h
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/ReactPackageProvider.idl
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/VideoPluginSample.def
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/VideoPluginSample.vcxproj
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/VideoPluginSample.vcxproj.filters
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/VideoPluginSampleModule.h
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/packages.config
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/pch.cpp
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/pch.h
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/App.cpp
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/AutolinkedNativeModules.g.props
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/AutolinkedNativeModules.g.targets
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/PropertySheet.props
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/VideoPluginSampleDemo.rc
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/VideoPluginSampleDemo.vcxproj
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/VideoPluginSampleDemo.vcxproj.filters
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/packages.config
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/pch.cpp
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/pch.h
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/resource.h
  examples/react-native-video-plugin-sample/windows/video-plugin-sample-demo.sln
Due: lint, types

adding vcxproj chnages
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/VideoPluginSample.vcxproj
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/VideoPluginSampleDemo.vcxproj
Due: none

added package.json chnages
  examples/react-native-video-plugin-sample/package.json
  examples/react-native-video-plugin-sample/react-native.config.js
Due: lint, types

docs: update landing page (#4807)
  bun.lock
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/components/Homepage/Enterprise/Enterprise.module.css
  docs/src/components/Homepage/Enterprise/Enterprise.tsx
  docs/src/components/Homepage/Enterprise/FeatureCard/FeatureCard.module.css
  docs/src/components/Homepage/Enterprise/FeatureCard/FeatureCard.tsx
  docs/src/components/Homepage/Features/Feature/Feature.module.css
  docs/src/components/Homepage/Features/Feature/Feature.tsx
  docs/src/components/Homepage/Features/Features.module.css
  docs/src/components/Homepage/Features/Features.tsx
  docs/src/components/Homepage/Hero/Badge/Badge.module.css
  docs/src/components/Homepage/Hero/Badge/Badge.tsx
  docs/src/components/Homepage/Hero/Buttons/Buttons.module.css
  docs/src/components/Homepage/Hero/Buttons/Buttons.tsx
  docs/src/components/Homepage/Hero/Hero.module.css
  docs/src/components/Homepage/Hero/Hero.tsx
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.module.css
  docs/src/components/Homepage/Hero/ScrollIndicator/ScrollIndicator.tsx
  docs/src/components/Homepage/Hero/Stats/Stats.module.css
  docs/src/components/Homepage/Hero/Stats/Stats.tsx
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/arrow-icon.svg
  docs/static/img/download-icon.svg
  docs/static/img/drm-content-icon.svg
  docs/static/img/github-icon.svg
  docs/static/img/homepage/enterprise/layers-icon.svg
  docs/static/img/homepage/enterprise/lightning-icon.svg
  docs/static/img/homepage/enterprise/shield-icon.svg
  docs/static/img/homepage/features/performance-icon.svg
  docs/static/img/homepage/features/platforms-icon.svg
  docs/static/img/homepage/features/plugins-icon.svg
  docs/static/img/homepage/features/reactjs-icon.svg
  docs/static/img/homepage/features/shield-icon.svg
  docs/static/img/homepage/features/subtitles-icon.svg
  docs/static/img/reactjs-icon.svg
Due: lint, types

fix: fixed audio focus change on ios
  packages/react-native-video/ios/core/VideoManager.swift
Due: none

Update windows/ReactNativeVideoCPP/ReactVideoView.cpp
  windows/ReactNativeVideoCPP/ReactVideoView.cpp
Due: none

addressing first review comments
  examples/react-native-video-plugin-sample/App.js
  examples/react-native-video-plugin-sample/README.md
  examples/react-native-video-plugin-sample/package.json
  examples/react-native-video-plugin-sample/src/index.tsx
  examples/react-native-video-plugin-sample/windows/README.md
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/ReactPackageProvider.cpp
  examples/react-native-video-plugin-sample/windows/VideoPluginSample/VideoPluginSampleModule.h
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/App.cpp
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/pch.h
  examples/react-native-video-plugin-sample/windows/VideoPluginSampleDemo/targetver.h
Due: lint, types

fix(android): controls always show in fullscreen Fixed: #4751
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

Conditionally add/remove PIP mode change listener
  android/src/main/java/com/brentvatne/exoplayer/PictureInPictureUtil.kt
Due: none

chore: format code
  android/src/main/java/com/brentvatne/exoplayer/PictureInPictureUtil.kt
Due: none

refactor!: unify CSAI and DAI configuration into single ad prop
  android/src/main/java/com/brentvatne/common/api/AdsProps.kt
  android/src/main/java/com/brentvatne/common/api/DaiProps.kt
  android/src/main/java/com/brentvatne/common/api/Source.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  docs/pages/component/ads.md
  docs/pages/component/props.mdx
  examples/common/constants/general.ts
  examples/expo-dai/App.tsx
  ios/Video/DataStructures/AdParams.swift
  ios/Video/DataStructures/DaiParams.swift
  ios/Video/DataStructures/VideoSource.swift
  ios/Video/RCTVideo.swift
  src/Video.tsx
  src/specs/VideoNativeComponent.ts
  src/types/video.ts
Due: lint, types

fix(android): remove broken wait() in DAI initialization
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

Fix/replay watched ads (#481)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  package.json
Due: none
