Repository TheWidlarzGroup/react-native-video: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: bun typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bunx commitlint --edit

[UTV-3379] Missing schedule translation (#412)
  ios/Video/PlayerViewProxy.swift
  package.json
Due: none

fix(windows): event name not matches with SPEC
  windows/ReactNativeVideoCPP/ReactVideoView.cpp
  windows/ReactNativeVideoCPP/ReactVideoViewManager.cpp
Due: none

Bump doris-android to 3.13.9 (#413)
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoDorisFactory.java
  android-exoplayer/src/main/java/com/brentvatne/exoplayer/ReactTVExoplayerView.java
  package.json
Due: none

fix(android): fix bugs related Android PIP listeners (#4441)
  android/src/main/java/com/brentvatne/exoplayer/PictureInPictureUtil.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

[Preview] docs: update (#9)
  docs/pages/_meta.json
  docs/pages/component/drm.mdx
  docs/pages/other/_meta.json
  docs/pages/other/downloading.md
  docs/pages/other/plugin.md
Due: none

docs: update footer
  docs/theme.config.jsx
Due: lint

docs: update links
  docs/pages/_meta.json
  docs/pages/component/drm.mdx
  docs/pages/other/downloading.md
Due: none

docs: fix naming
  docs/pages/component/drm.mdx
Due: none

docs: update content
  docs/pages/component/drm.mdx
  docs/pages/other/downloading.md
  docs/pages/other/plugin.md
Due: none

docs: refine grammar
  docs/pages/component/ads.md
  docs/pages/component/drm.mdx
  docs/pages/component/events.mdx
  docs/pages/component/methods.mdx
  docs/pages/component/props.mdx
  docs/pages/index.md
  docs/pages/installation.md
  docs/pages/other/caching.md
  docs/pages/other/debug.md
  docs/pages/other/downloading.md
  docs/pages/other/expo.md
  docs/pages/other/misc.md
  docs/pages/other/new-arch.md
  docs/pages/other/plugin.md
  docs/pages/projects.md
  docs/pages/updating.md
Due: none

refactor: sdk name
  docs/pages/_meta.json
Due: none

docs: update url
  docs/pages/other/plugin.md
Due: none

fix(docs): update typo
  docs/pages/other/downloading.md
Due: none

docs: add new roadmap to readme
  README.md
Due: none

docs: add issue boost link
  docs/pages/_meta.json
Due: none

lint code
  docs/theme.config.jsx
Due: lint

docs: update structure (#4454)
  README.md
  docs/pages/_meta.json
  docs/pages/component/ads.md
  docs/pages/component/drm.mdx
  docs/pages/component/events.mdx
  docs/pages/component/methods.mdx
  docs/pages/component/props.mdx
  docs/pages/index.md
  docs/pages/installation.md
  docs/pages/other/_meta.json
  docs/pages/other/caching.md
  docs/pages/other/debug.md
  docs/pages/other/downloading.md
  docs/pages/other/expo.md
  docs/pages/other/misc.md
  docs/pages/other/new-arch.md
  docs/pages/other/plugin.md
  docs/pages/projects.md
  docs/pages/updating.md
  docs/theme.config.jsx
Due: lint

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@9055b14cf40b3492cca43f4f0cdb8b0f3bc24b35 🚀
  404.html
  _next/static/chunks/pages/_app-c1d54c3e024cf9f5.js
  _next/static/hiZt0PpXrl9V3lyyp7fow/_buildManifest.js
  _next/static/hiZt0PpXrl9V3lyyp7fow/_ssgManifest.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

fix: use string resources for notification text instead of hardcoded strings
  android/src/main/java/com/brentvatne/exoplayer/VideoPlaybackService.kt
  android/src/main/res/values/strings.xml
Due: none

fix: add missing import
  android/src/main/java/com/brentvatne/exoplayer/VideoPlaybackService.kt
Due: none

fix: resolve CI issues
  android/src/main/java/com/brentvatne/exoplayer/VideoPlaybackService.kt
Due: none

fix: use getString() method to convert string resource IDs to actual strings
  android/src/main/java/com/brentvatne/exoplayer/VideoPlaybackService.kt
Due: none

feat(windows): add topSeek parms mentioned in docs
  windows/ReactNativeVideoCPP/ReactVideoView.cpp
  windows/ReactNativeVideoCPP/ReactVideoView.h
Due: none

docs: update examples
  README.md
  docs/pages/component/drm.mdx
Due: none

Fix/doris 2858 topbar redcircle rtl (#414)
  package.json
Due: none

fix(ios): invalid metadata handling (#4422)
  ios/Video/NowPlayingInfoCenterManager.swift
Due: none

docs: remove ga
  docs/theme.config.jsx
Due: lint

docs: remove ga (#4462)
  docs/theme.config.jsx
Due: lint

Deploying to gh-pages from @ TheWidlarzGroup/react-native-video@b11c1f315d87134bdd2c53d80fa38a25e8a921f3 🚀
  404.html
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/_app-1f89a20566de2b7d.js
  _next/static/s-_w1V-KfJcx4aC4168Fp/_buildManifest.js
  _next/static/s-_w1V-KfJcx4aC4168Fp/_ssgManifest.js
  component/ads.html
  component/drm.html
  component/events.html
  component/methods.html
  component/props.html
  index.html
  installation.html
  other/caching.html
  other/debug.html
  other/downloading.html
  other/expo.html
  other/misc.html
  other/new-arch.html
  other/plugin.html
  projects.html
  updating.html
Due: lint, types

feat: allow plugins for providing custom DRM manager
  android/src/main/java/com/brentvatne/exoplayer/DRMManager.kt
  android/src/main/java/com/brentvatne/exoplayer/DRMManagerSpec.kt
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
  android/src/main/java/com/brentvatne/react/RNVPlugin.kt
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  docs/pages/other/plugin.md
  ios/Video/DataStructures/DRMParams.swift
  ios/Video/Features/DRMManager.swift
  ios/Video/Features/DRMManagerSpec.swift
  ios/Video/RCTVideo.swift
  ios/Video/RNVPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

chore(example): fix drm example on android
  examples/common/DRMExample.tsx
Due: lint

fix: remove platform player logic & dependency from `RNVPlugin`
  android/src/main/java/com/brentvatne/react/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/react/RNVPlugin.kt
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/RNVPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

chore: lint code
  android/src/main/java/com/brentvatne/exoplayer/DRMManager.kt
  android/src/main/java/com/brentvatne/exoplayer/DRMManagerSpec.kt
  android/src/main/java/com/brentvatne/react/RNVPlugin.kt
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  ios/Video/Features/DRMManagerSpec.swift
  ios/Video/RCTVideoManager.m
  ios/Video/RNVPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

chore: lint code
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  ios/Video/RCTVideoManager.m
Due: none

chore: change warning to debug msg
  android/src/main/java/com/brentvatne/exoplayer/ReactExoplayerView.java
Due: none

chore(example/bare): update Podfile.lock
  examples/bare/ios/Podfile.lock
Due: none

refactor: add helpers & clean code
  android/src/main/java/com/brentvatne/exoplayer/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/react/RNVExoplayerPlugin.kt
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  examples/react-native-video-plugin-sample/android/src/main/java/com/videopluginsample/VideoPluginSampleModule.kt
  examples/react-native-video-plugin-sample/ios/VideoPluginSample.swift
  ios/Video/RCTVideo.swift
  ios/Video/RNVAVPlayerPlugin.swift
  ios/Video/RNVPlugin.swift
  ios/Video/ReactNativeVideoManager.swift
Due: none

refactor: reorganize ReactNativeVideoManager plugin registration methods
  android/src/main/java/com/brentvatne/react/ReactNativeVideoManager.kt
  ios/Video/ReactNativeVideoManager.swift
Due: none

docs: update documentation
  docs/pages/other/plugin.md
Due: none
